NL2SEARCH_CHATFLOW_DSL/my.yml
app:
  description: 'PHONE_MODULE_JF_CHATFLOW; Route Card JSON for KB import: {"route_id":"phone_module_jf_compare","route_desc":"两个或多个手机的摄像头模组在指定范围、指定维度下做竞分对比，并生成指定形式的结果","trigger_examples":["请对比A手机与B手机的主摄CIS基础规格，包括靶面，像素大小，像素数量等","请生成A手机与B手机的CIS规格对比报告","请对比Iphone17与Xiaomi17的主摄CIS基础规格","请对比A手机与B手机的主摄供电拓扑","请对比A手机与B手机的主摄功耗","请对比Iphone17、Xiaomi17、OPPO17的主摄规格，并输出对比表"],"required_slots":[{"slot":"target_objects","desc":"参与对比的手机，至少2个","min_items":2,"placeholder":"{{target_objects}}","values":[{"value":"iphone17","aliases":["iphone17","iPhone17","iphone
    17","iPhone 17","苹果17","苹果 iPhone17","苹果 iPhone 17"]},{"value":"xiaomi17","aliases":["xiaomi17","Xiaomi17","xiaomi
    17","Xiaomi 17","小米17","小米 17"]},{"value":"oppo17","aliases":["oppo17","OPPO17","oppo
    17","OPPO 17","欧珀17","欧珀 17"]}]},{"slot":"object_scope","desc":"对比对象范围","placeholder":"{{object_scope}}","values":[{"value":"主摄","aliases":["主摄","主摄像头","主相机","main
    camera","main_camera","main cam"]},{"value":"长焦","aliases":["长焦","长焦镜头","潜望长焦","tele","telephoto","tele
    camera","telephoto camera"]},{"value":"广角","aliases":["广角","超广角","广角镜头","超广角镜头","wide","wide
    camera","ultra wide","ultra-wide","ultrawide"]}]},{"slot":"analysis_dimension","desc":"对比内容","placeholder":"{{analysis_dimension}}","values":[{"value":"规格","aliases":["规格","基础规格","CIS规格","CIS基础规格","Sensor规格","Sensor基础规格","传感器规格","模组规格","镜头规格","马达规格"]},{"value":"供电拓扑","aliases":["供电拓扑","供电架构","电源拓扑","电源架构","power
    topology","power tree","BTB map","btb map"]},{"value":"功耗","aliases":["功耗","模式功耗","平均功耗","峰值功耗","power","power
    consumption","mW"]}]},{"slot":"output_type","desc":"希望输出的结果形式","placeholder":"{{output_type}}","values":[{"value":"对比报告","aliases":["对比报告","报告","分析报告","生成报告","规格对比报告","CIS规格对比报告"]},{"value":"对比表","aliases":["对比表","表格","明细表","对比明细","结果表"]},{"value":"趋势分析","aliases":["趋势分析","趋势","演进","变化趋势","趋势报告"]},{"value":"Excel","aliases":["Excel","excel","xlsx","导出Excel","导出
    excel","Excel表","Excel表格"]}]}],"template_selector":{"规格":"template_spec_compare","供电拓扑":"template_power_topology_compare","功耗":"template_power_compare"}}'
  icon: 🤳
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: PHONE_MODULE_JF_CHATFLOW
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/ollama:0.0.7@8fc496b3892344da47db6125c76fc0dbfd8020753f198032751d83f561d9443e
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - description: ''
    id: pending_route_id
    name: pending_route_id
    selector:
    - conversation
    - pending_route_id
    value: ''
    value_type: string
  - description: ''
    id: pending_route_card_json
    name: pending_route_card_json
    selector:
    - conversation
    - pending_route_card_json
    value: ''
    value_type: string
  - description: ''
    id: partial_placeholder_values_json
    name: partial_placeholder_values_json
    selector:
    - conversation
    - partial_placeholder_values_json
    value: ''
    value_type: string
  - description: ''
    id: pending_missing_slots_json
    name: pending_missing_slots_json
    selector:
    - conversation
    - pending_missing_slots_json
    value: ''
    value_type: string
  environment_variables:
  - description: ''
    id: MONGO_QUERY_API_URL
    name: MONGO_QUERY_API_URL
    selector:
    - env
    - MONGO_QUERY_API_URL
    value: ''
    value_type: string
  - description: ''
    id: REPORT_LLM_MODE
    name: REPORT_LLM_MODE
    selector:
    - env
    - REPORT_LLM_MODE
    value: full
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: code
      id: e0
      source: start
      sourceHandle: source
      target: ctx
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: knowledge-retrieval
      id: e1
      source: ctx
      sourceHandle: source
      target: kr
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: code
      id: e2
      source: kr
      sourceHandle: source
      target: route
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: e3
      source: route
      sourceHandle: source
      target: parse
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: e4
      source: parse
      sourceHandle: source
      target: validate
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: e5
      source: validate
      sourceHandle: source
      target: ifslot
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: e6
      source: ifslot
      sourceHandle: need_slot
      target: fill
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: answer
      id: e7
      source: fill
      sourceHandle: source
      target: ansslot
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: e8
      source: ifslot
      sourceHandle: success
      target: plan
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: e9
      source: plan
      sourceHandle: source
      target: mongo
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: e10
      source: mongo
      sourceHandle: source
      target: http
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: e11
      source: http
      sourceHandle: source
      target: norm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: e12
      source: norm
      sourceHandle: source
      target: analysis
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: e13
      source: analysis
      sourceHandle: source
      target: ifreport
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: r1
      source: ifreport
      sourceHandle: report
      target: report_input
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: r2
      source: ifreport
      sourceHandle: 'false'
      target: final
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: r3
      source: report_input
      sourceHandle: source
      target: ifllm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: r4
      source: ifllm
      sourceHandle: enabled
      target: token_req
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: r5
      source: ifllm
      sourceHandle: 'false'
      target: llmlocal
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: r6
      source: token_req
      sourceHandle: source
      target: http_token
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: r7
      source: http_token
      sourceHandle: source
      target: token_parse
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: r8
      source: token_parse
      sourceHandle: source
      target: if_token
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: r9
      source: if_token
      sourceHandle: ok
      target: full_req
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: r10
      source: if_token
      sourceHandle: 'false'
      target: llmlocal
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: r11
      source: full_req
      sourceHandle: source
      target: http_full
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: r12
      source: http_full
      sourceHandle: source
      target: full_parse
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: r13
      source: full_parse
      sourceHandle: source
      target: if_full
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: r14
      source: if_full
      sourceHandle: ok
      target: final
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: r15
      source: if_full
      sourceHandle: 'false'
      target: llmlocal
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: r16
      source: llmlocal
      sourceHandle: source
      target: local_wrap
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: r17
      source: local_wrap
      sourceHandle: source
      target: final
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: answer
      id: e20
      source: final
      sourceHandle: source
      target: ans
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: ifslot-null-fill-target
      source: ifslot
      sourceHandle: null
      target: fill
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: ifslot-null-plan-target
      source: ifslot
      sourceHandle: null
      target: plan
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: ifreport-null-report_input-target
      source: ifreport
      sourceHandle: null
      target: report_input
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: ifllm-null-token_req-target
      source: ifllm
      sourceHandle: null
      target: token_req
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: if_token-null-full_req-target
      source: if_token
      sourceHandle: null
      target: full_req
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: if_full-null-final-target
      source: if_full
      sourceHandle: null
      target: final
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: question
          required: true
          type: paragraph
          variable: question
        - label: pending_route_id
          required: false
          type: text-input
          variable: pending_route_id
        - label: pending_route_card_json
          required: false
          type: paragraph
          variable: pending_route_card_json
        - label: partial_placeholder_values_json
          required: false
          type: paragraph
          variable: partial_placeholder_values_json
        - label: pending_missing_slots_json
          required: false
          type: paragraph
          variable: pending_missing_slots_json
      dragging: false
      height: 212
      id: start
      position:
        x: 80
        y: 300
      positionAbsolute:
        x: 80
        y: 300
      selected: false
      type: custom
      width: 242
      zIndex: 1
    - data:
        code: "import json\n\ndef main(question: str, pending_route_card_json: str\
          \ = '', partial_placeholder_values_json: str = '', pending_route_id: str\
          \ = '', pending_missing_slots_json: str = '') -> dict:\n    def loads(x,\
          \ default):\n        try: return json.loads(x) if x else default\n     \
          \   except Exception: return default\n    pending_route_card = loads(pending_route_card_json,\
          \ None)\n    partial = loads(partial_placeholder_values_json, {})\n    is_turn\
          \ = bool(pending_route_id and pending_route_card and isinstance(partial,\
          \ dict))\n    out = {\"contract_version\":\"phone_module_jf_context_v1\"\
          ,\"status\":\"ok\",\"question\":question or \"\",\"is_slot_filling_turn\"\
          :is_turn,\"pending_route_card\":pending_route_card if is_turn else None,\"\
          partial_placeholder_values\":partial if is_turn else {}}\n    return {\"\
          context_json\": json.dumps(out, ensure_ascii=False)}"
        code_language: python3
        desc: ''
        outputs:
          context_json:
            type: string
        selected: false
        source_code: "import json\n\ndef main(question: str, pending_route_card_json:\
          \ str = '', partial_placeholder_values_json: str = '', pending_route_id:\
          \ str = '', pending_missing_slots_json: str = '') -> dict:\n    def loads(x,\
          \ default):\n        try: return json.loads(x) if x else default\n     \
          \   except Exception: return default\n    pending_route_card = loads(pending_route_card_json,\
          \ None)\n    partial = loads(partial_placeholder_values_json, {})\n    is_turn\
          \ = bool(pending_route_id and pending_route_card and isinstance(partial,\
          \ dict))\n    out = {\"contract_version\":\"phone_module_jf_context_v1\"\
          ,\"status\":\"ok\",\"question\":question or \"\",\"is_slot_filling_turn\"\
          :is_turn,\"pending_route_card\":pending_route_card if is_turn else None,\"\
          partial_placeholder_values\":partial if is_turn else {}}\n    return {\"\
          context_json\": json.dumps(out, ensure_ascii=False)}"
        title: 代码执行_合并当前输入与补槽上下文
        type: code
        variables: []
      dragging: false
      height: 52
      id: ctx
      position:
        x: 360
        y: 300
      positionAbsolute:
        x: 360
        y: 300
      selected: false
      type: custom
      width: 242
      zIndex: 2
    - data:
        dataset_ids:
        - miJ1qJC2vMt29T3QQKOEgqFipty1V4/qF9p7eNhoiVV5yLMSpZ3Ff0Qd/x2otSul
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          reranking_model:
            model: ''
            provider: ''
          score_threshold: null
          top_k: 3
          weights: null
        query_variable_selector:
        - start
        - question
        retrieval_mode: multiple
        selected: false
        single_retrieval_config:
          top_k: 1
        title: 知识检索_RouteCard
        type: knowledge-retrieval
      dragging: false
      height: 90
      id: kr
      position:
        x: 640
        y: 300
      positionAbsolute:
        x: 640
        y: 300
      selected: false
      type: custom
      width: 242
      zIndex: 3
    - data:
        code: "import json, re\nFALLBACK_ROUTE_CARD_JSON = '{\"route_id\":\"phone_module_jf_compare\"\
          ,\"route_desc\":\"两个或多个手机的摄像头模组在指定范围、指定维度下做竞分对比，并生成指定形式的结果\",\"trigger_examples\"\
          :[\"请对比A手机与B手机的主摄CIS基础规格，包括靶面，像素大小，像素数量等\",\"请生成A手机与B手机的CIS规格对比报告\",\"请对比Iphone17与Xiaomi17的主摄CIS基础规格\"\
          ,\"请对比A手机与B手机的主摄供电拓扑\",\"请对比A手机与B手机的主摄功耗\",\"请对比Iphone17、Xiaomi17、OPPO17的主摄规格，并输出对比表\"\
          ],\"required_slots\":[{\"slot\":\"target_objects\",\"desc\":\"参与对比的手机，至少2个\"\
          ,\"min_items\":2,\"placeholder\":\"{{target_objects}}\",\"values\":[{\"\
          value\":\"iphone17\",\"aliases\":[\"iphone17\",\"iPhone17\",\"iphone 17\"\
          ,\"iPhone 17\",\"苹果17\",\"苹果 iPhone17\",\"苹果 iPhone 17\"]},{\"value\":\"\
          xiaomi17\",\"aliases\":[\"xiaomi17\",\"Xiaomi17\",\"xiaomi 17\",\"Xiaomi\
          \ 17\",\"小米17\",\"小米 17\"]},{\"value\":\"oppo17\",\"aliases\":[\"oppo17\"\
          ,\"OPPO17\",\"oppo 17\",\"OPPO 17\",\"欧珀17\",\"欧珀 17\"]}]},{\"slot\":\"\
          object_scope\",\"desc\":\"对比对象范围\",\"placeholder\":\"{{object_scope}}\"\
          ,\"values\":[{\"value\":\"主摄\",\"aliases\":[\"主摄\",\"主摄像头\",\"主相机\",\"main\
          \ camera\",\"main_camera\",\"main cam\"]},{\"value\":\"长焦\",\"aliases\"\
          :[\"长焦\",\"长焦镜头\",\"潜望长焦\",\"tele\",\"telephoto\",\"tele camera\",\"telephoto\
          \ camera\"]},{\"value\":\"广角\",\"aliases\":[\"广角\",\"超广角\",\"广角镜头\",\"超广角镜头\"\
          ,\"wide\",\"wide camera\",\"ultra wide\",\"ultra-wide\",\"ultrawide\"]}]},{\"\
          slot\":\"analysis_dimension\",\"desc\":\"对比内容\",\"placeholder\":\"{{analysis_dimension}}\"\
          ,\"values\":[{\"value\":\"规格\",\"aliases\":[\"规格\",\"基础规格\",\"CIS规格\",\"\
          CIS基础规格\",\"Sensor规格\",\"Sensor基础规格\",\"传感器规格\",\"模组规格\",\"镜头规格\",\"马达规格\"\
          ]},{\"value\":\"供电拓扑\",\"aliases\":[\"供电拓扑\",\"供电架构\",\"电源拓扑\",\"电源架构\"\
          ,\"power topology\",\"power tree\",\"BTB map\",\"btb map\"]},{\"value\"\
          :\"功耗\",\"aliases\":[\"功耗\",\"模式功耗\",\"平均功耗\",\"峰值功耗\",\"power\",\"power\
          \ consumption\",\"mW\"]}]},{\"slot\":\"output_type\",\"desc\":\"希望输出的结果形式\"\
          ,\"placeholder\":\"{{output_type}}\",\"values\":[{\"value\":\"对比报告\",\"\
          aliases\":[\"对比报告\",\"报告\",\"分析报告\",\"生成报告\",\"规格对比报告\",\"CIS规格对比报告\"]},{\"\
          value\":\"对比表\",\"aliases\":[\"对比表\",\"表格\",\"明细表\",\"对比明细\",\"结果表\"]},{\"\
          value\":\"趋势分析\",\"aliases\":[\"趋势分析\",\"趋势\",\"演进\",\"变化趋势\",\"趋势报告\"]},{\"\
          value\":\"Excel\",\"aliases\":[\"Excel\",\"excel\",\"xlsx\",\"导出Excel\"\
          ,\"导出 excel\",\"Excel表\",\"Excel表格\"]}]}],\"template_selector\":{\"规格\"\
          :\"template_spec_compare\",\"供电拓扑\":\"template_power_topology_compare\"\
          ,\"功耗\":\"template_power_compare\"}}'\n\ndef main(context_json: str, retrieval_result:\
          \ list = None) -> dict:\n    def loads(x, default):\n        try: return\
          \ json.loads(x) if x else default\n        except Exception: return default\n\
          \    ctx = loads(context_json, {})\n    card = ctx.get('pending_route_card')\n\
          \    confidence = 1.0 if card else 0.0\n    route_card_source = 'pending'\
          \ if card else 'fallback'\n    if not card and retrieval_result:\n     \
          \   item = retrieval_result[0]\n        raw = item.get('content') or item.get('text')\
          \ or item.get('segment',{}).get('content') or ''\n        m = re.search(r'\\\
          {.*\\}', raw, re.S)\n        card = loads(m.group(0) if m else raw, None)\n\
          \        confidence = float(item.get('score') or item.get('metadata',{}).get('score')\
          \ or 0.0)\n        route_card_source = 'knowledge_retrieval'\n    if not\
          \ card:\n        card = loads(FALLBACK_ROUTE_CARD_JSON, None)\n        route_card_source\
          \ = 'fallback'\n    ok = isinstance(card, dict) and card.get('route_id')\
          \ == 'phone_module_jf_compare' and isinstance(card.get('required_slots'),\
          \ list) and isinstance(card.get('template_selector'), dict)\n    if not\
          \ ok:\n        out={\"contract_version\":\"phone_module_jf_route_card_v1\"\
          ,\"status\":\"route_not_found\",\"message\":\"未识别到适合当前问题的手机模组竞分任务卡片\"}\n\
          \    else:\n        out={\"contract_version\":\"phone_module_jf_route_card_v1\"\
          ,\"status\":\"ok\",\"route_id\":card['route_id'],\"route_card\":card,\"\
          route_confidence\":confidence,\"route_card_source\":route_card_source}\n\
          \    return {\"route_card_json\": json.dumps(out, ensure_ascii=False)}"
        code_language: python3
        desc: ''
        outputs:
          route_card_json:
            type: string
        selected: false
        source_code: "import json, re\nFALLBACK_ROUTE_CARD_JSON = '{\"route_id\":\"\
          phone_module_jf_compare\",\"route_desc\":\"两个或多个手机的摄像头模组在指定范围、指定维度下做竞分对比，并生成指定形式的结果\"\
          ,\"trigger_examples\":[\"请对比A手机与B手机的主摄CIS基础规格，包括靶面，像素大小，像素数量等\",\"请生成A手机与B手机的CIS规格对比报告\"\
          ,\"请对比Iphone17与Xiaomi17的主摄CIS基础规格\",\"请对比A手机与B手机的主摄供电拓扑\",\"请对比A手机与B手机的主摄功耗\"\
          ,\"请对比Iphone17、Xiaomi17、OPPO17的主摄规格，并输出对比表\"],\"required_slots\":[{\"slot\"\
          :\"target_objects\",\"desc\":\"参与对比的手机，至少2个\",\"min_items\":2,\"placeholder\"\
          :\"{{target_objects}}\",\"values\":[{\"value\":\"iphone17\",\"aliases\"\
          :[\"iphone17\",\"iPhone17\",\"iphone 17\",\"iPhone 17\",\"苹果17\",\"苹果 iPhone17\"\
          ,\"苹果 iPhone 17\"]},{\"value\":\"xiaomi17\",\"aliases\":[\"xiaomi17\",\"\
          Xiaomi17\",\"xiaomi 17\",\"Xiaomi 17\",\"小米17\",\"小米 17\"]},{\"value\":\"\
          oppo17\",\"aliases\":[\"oppo17\",\"OPPO17\",\"oppo 17\",\"OPPO 17\",\"欧珀17\"\
          ,\"欧珀 17\"]}]},{\"slot\":\"object_scope\",\"desc\":\"对比对象范围\",\"placeholder\"\
          :\"{{object_scope}}\",\"values\":[{\"value\":\"主摄\",\"aliases\":[\"主摄\"\
          ,\"主摄像头\",\"主相机\",\"main camera\",\"main_camera\",\"main cam\"]},{\"value\"\
          :\"长焦\",\"aliases\":[\"长焦\",\"长焦镜头\",\"潜望长焦\",\"tele\",\"telephoto\",\"\
          tele camera\",\"telephoto camera\"]},{\"value\":\"广角\",\"aliases\":[\"广角\"\
          ,\"超广角\",\"广角镜头\",\"超广角镜头\",\"wide\",\"wide camera\",\"ultra wide\",\"ultra-wide\"\
          ,\"ultrawide\"]}]},{\"slot\":\"analysis_dimension\",\"desc\":\"对比内容\",\"\
          placeholder\":\"{{analysis_dimension}}\",\"values\":[{\"value\":\"规格\",\"\
          aliases\":[\"规格\",\"基础规格\",\"CIS规格\",\"CIS基础规格\",\"Sensor规格\",\"Sensor基础规格\"\
          ,\"传感器规格\",\"模组规格\",\"镜头规格\",\"马达规格\"]},{\"value\":\"供电拓扑\",\"aliases\"\
          :[\"供电拓扑\",\"供电架构\",\"电源拓扑\",\"电源架构\",\"power topology\",\"power tree\"\
          ,\"BTB map\",\"btb map\"]},{\"value\":\"功耗\",\"aliases\":[\"功耗\",\"模式功耗\"\
          ,\"平均功耗\",\"峰值功耗\",\"power\",\"power consumption\",\"mW\"]}]},{\"slot\"\
          :\"output_type\",\"desc\":\"希望输出的结果形式\",\"placeholder\":\"{{output_type}}\"\
          ,\"values\":[{\"value\":\"对比报告\",\"aliases\":[\"对比报告\",\"报告\",\"分析报告\",\"\
          生成报告\",\"规格对比报告\",\"CIS规格对比报告\"]},{\"value\":\"对比表\",\"aliases\":[\"对比表\"\
          ,\"表格\",\"明细表\",\"对比明细\",\"结果表\"]},{\"value\":\"趋势分析\",\"aliases\":[\"趋势分析\"\
          ,\"趋势\",\"演进\",\"变化趋势\",\"趋势报告\"]},{\"value\":\"Excel\",\"aliases\":[\"\
          Excel\",\"excel\",\"xlsx\",\"导出Excel\",\"导出 excel\",\"Excel表\",\"Excel表格\"\
          ]}]}],\"template_selector\":{\"规格\":\"template_spec_compare\",\"供电拓扑\":\"\
          template_power_topology_compare\",\"功耗\":\"template_power_compare\"}}'\n\
          \ndef main(context_json: str, retrieval_result: list = None) -> dict:\n\
          \    def loads(x, default):\n        try: return json.loads(x) if x else\
          \ default\n        except Exception: return default\n    ctx = loads(context_json,\
          \ {})\n    card = ctx.get('pending_route_card')\n    confidence = 1.0 if\
          \ card else 0.0\n    route_card_source = 'pending' if card else 'fallback'\n\
          \    if not card and retrieval_result:\n        item = retrieval_result[0]\n\
          \        raw = item.get('content') or item.get('text') or item.get('segment',{}).get('content')\
          \ or ''\n        m = re.search(r'\\{.*\\}', raw, re.S)\n        card = loads(m.group(0)\
          \ if m else raw, None)\n        confidence = float(item.get('score') or\
          \ item.get('metadata',{}).get('score') or 0.0)\n        route_card_source\
          \ = 'knowledge_retrieval'\n    if not card:\n        card = loads(FALLBACK_ROUTE_CARD_JSON,\
          \ None)\n        route_card_source = 'fallback'\n    ok = isinstance(card,\
          \ dict) and card.get('route_id') == 'phone_module_jf_compare' and isinstance(card.get('required_slots'),\
          \ list) and isinstance(card.get('template_selector'), dict)\n    if not\
          \ ok:\n        out={\"contract_version\":\"phone_module_jf_route_card_v1\"\
          ,\"status\":\"route_not_found\",\"message\":\"未识别到适合当前问题的手机模组竞分任务卡片\"}\n\
          \    else:\n        out={\"contract_version\":\"phone_module_jf_route_card_v1\"\
          ,\"status\":\"ok\",\"route_id\":card['route_id'],\"route_card\":card,\"\
          route_confidence\":confidence,\"route_card_source\":route_card_source}\n\
          \    return {\"route_card_json\": json.dumps(out, ensure_ascii=False)}"
        title: 代码执行_选择并解析RouteCard
        type: code
        variables: []
      dragging: false
      height: 52
      id: route
      position:
        x: 920
        y: 300
      positionAbsolute:
        x: 920
        y: 300
      selected: false
      type: custom
      width: 242
      zIndex: 4
    - data:
        code: "import json, unicodedata, re\n\ndef norm(s):\n    s = unicodedata.normalize('NFKC',\
          \ s or '').lower()\n    s = re.sub(r'[，、；;。,.!?？：:]+', ' ', s)\n    s =\
          \ re.sub(r'\\s+', ' ', s).strip()\n    return s\n\ndef main(context_json:\
          \ str, route_card_json: str) -> dict:\n    ctx=json.loads(context_json or\
          \ '{}'); rc=json.loads(route_card_json or '{}')\n    if rc.get('status')!='ok':\n\
          \        out={\"contract_version\":\"phone_module_jf_slot_parse_v1\",\"\
          status\":rc.get('status','route_not_found'),\"placeholder_values\":{},\"\
          matched_evidence\":{},\"slot_conflicts\":[]}\n        return {\"slot_parse_result_json\"\
          :json.dumps(out,ensure_ascii=False),\"placeholder_values_json\":\"{}\"}\n\
          \    q=ctx.get('question',''); nq=norm(q); card=rc['route_card']\n    vals=dict(ctx.get('partial_placeholder_values')\
          \ or {}); evidence={}; conflicts=[]\n    for slot in card.get('required_slots',[]):\n\
          \        ph=slot['placeholder']; hits=[]; seen=set()\n        for v in slot.get('values',[]):\n\
          \            for a in v.get('aliases',[]):\n                if norm(a) and\
          \ norm(a) in nq and v['value'] not in seen:\n                    hits.append({'value':v['value'],'matched_alias':a});\
          \ seen.add(v['value'])\n        if hits: evidence[ph]=hits\n        if slot['slot']=='target_objects':\n\
          \            merged=[]\n            for x in vals.get(ph,[]):\n        \
          \        if x not in merged: merged.append(x)\n            for h in hits:\n\
          \                if h['value'] not in merged: merged.append(h['value'])\n\
          \            if merged: vals[ph]=merged\n        elif hits:\n          \
          \  uniq=[]\n            for h in hits:\n                if h['value'] not\
          \ in uniq: uniq.append(h['value'])\n            if len(uniq)==1: vals[ph]=uniq[0]\n\
          \            else: conflicts.append({'slot':slot['slot'],'placeholder':ph,'values':uniq})\n\
          \    out={\"contract_version\":\"phone_module_jf_slot_parse_v1\",\"status\"\
          :\"ok\",\"route_id\":rc['route_id'],\"placeholder_values\":vals,\"matched_evidence\"\
          :evidence,\"slot_conflicts\":conflicts}\n    return {\"slot_parse_result_json\"\
          :json.dumps(out,ensure_ascii=False),\"placeholder_values_json\":json.dumps(vals,ensure_ascii=False)}"
        code_language: python3
        desc: ''
        outputs:
          placeholder_values_json:
            type: string
          slot_parse_result_json:
            type: string
        selected: false
        source_code: "import json, unicodedata, re\n\ndef norm(s):\n    s = unicodedata.normalize('NFKC',\
          \ s or '').lower()\n    s = re.sub(r'[，、；;。,.!?？：:]+', ' ', s)\n    s =\
          \ re.sub(r'\\s+', ' ', s).strip()\n    return s\n\ndef main(context_json:\
          \ str, route_card_json: str) -> dict:\n    ctx=json.loads(context_json or\
          \ '{}'); rc=json.loads(route_card_json or '{}')\n    if rc.get('status')!='ok':\n\
          \        out={\"contract_version\":\"phone_module_jf_slot_parse_v1\",\"\
          status\":rc.get('status','route_not_found'),\"placeholder_values\":{},\"\
          matched_evidence\":{},\"slot_conflicts\":[]}\n        return {\"slot_parse_result_json\"\
          :json.dumps(out,ensure_ascii=False),\"placeholder_values_json\":\"{}\"}\n\
          \    q=ctx.get('question',''); nq=norm(q); card=rc['route_card']\n    vals=dict(ctx.get('partial_placeholder_values')\
          \ or {}); evidence={}; conflicts=[]\n    for slot in card.get('required_slots',[]):\n\
          \        ph=slot['placeholder']; hits=[]; seen=set()\n        for v in slot.get('values',[]):\n\
          \            for a in v.get('aliases',[]):\n                if norm(a) and\
          \ norm(a) in nq and v['value'] not in seen:\n                    hits.append({'value':v['value'],'matched_alias':a});\
          \ seen.add(v['value'])\n        if hits: evidence[ph]=hits\n        if slot['slot']=='target_objects':\n\
          \            merged=[]\n            for x in vals.get(ph,[]):\n        \
          \        if x not in merged: merged.append(x)\n            for h in hits:\n\
          \                if h['value'] not in merged: merged.append(h['value'])\n\
          \            if merged: vals[ph]=merged\n        elif hits:\n          \
          \  uniq=[]\n            for h in hits:\n                if h['value'] not\
          \ in uniq: uniq.append(h['value'])\n            if len(uniq)==1: vals[ph]=uniq[0]\n\
          \            else: conflicts.append({'slot':slot['slot'],'placeholder':ph,'values':uniq})\n\
          \    out={\"contract_version\":\"phone_module_jf_slot_parse_v1\",\"status\"\
          :\"ok\",\"route_id\":rc['route_id'],\"placeholder_values\":vals,\"matched_evidence\"\
          :evidence,\"slot_conflicts\":conflicts}\n    return {\"slot_parse_result_json\"\
          :json.dumps(out,ensure_ascii=False),\"placeholder_values_json\":json.dumps(vals,ensure_ascii=False)}"
        title: 代码执行_配置化规则抽槽
        type: code
        variables: []
      dragging: false
      height: 52
      id: parse
      position:
        x: 1200
        y: 300
      positionAbsolute:
        x: 1200
        y: 300
      selected: false
      type: custom
      width: 242
      zIndex: 5
    - data:
        code: "import json\n\ndef main(route_card_json: str, slot_parse_result_json:\
          \ str) -> dict:\n    rc=json.loads(route_card_json or '{}'); sp=json.loads(slot_parse_result_json\
          \ or '{}')\n    card=rc.get('route_card') or {}; vals=sp.get('placeholder_values')\
          \ or {}; miss=[]\n    conflict_ph={c.get('placeholder') for c in sp.get('slot_conflicts',[])}\n\
          \    for slot in card.get('required_slots',[]):\n        ph=slot['placeholder'];\
          \ allowed=[v['value'] for v in slot.get('values',[])]\n        bad = ph\
          \ in conflict_ph or ph not in vals or vals.get(ph) in (None,'',[])\n   \
          \     if slot['slot']=='target_objects' and len(vals.get(ph) or []) < slot.get('min_items',1):\
          \ bad=True\n        if bad: miss.append({'slot':slot['slot'],'desc':slot.get('desc',''),'placeholder':ph,'allowed_values':allowed})\n\
          \    dim=vals.get('{{analysis_dimension}}'); template=(card.get('template_selector')\
          \ or {}).get(dim)\n    status='ok'; ready=True\n    if miss: status='need_slot';\
          \ ready=False\n    elif not template: status='template_not_found'; ready=False;\
          \ miss.append({'slot':'analysis_dimension','desc':'对比内容未匹配查询模板','placeholder':'{{analysis_dimension}}','allowed_values':list((card.get('template_selector')\
          \ or {}).keys())})\n    out={\"contract_version\":\"phone_module_jf_slot_validate_v1\"\
          ,\"status\":status,\"ready_to_query\":ready,\"missing_slots\":miss,\"placeholder_values\"\
          :vals,\"selected_template_id\":template}\n    return {\"slot_validate_result_json\"\
          :json.dumps(out,ensure_ascii=False),\"selected_template_id\":template or\
          \ ''}"
        code_language: python3
        desc: ''
        outputs:
          selected_template_id:
            type: string
          slot_validate_result_json:
            type: string
        selected: false
        source_code: "import json\n\ndef main(route_card_json: str, slot_parse_result_json:\
          \ str) -> dict:\n    rc=json.loads(route_card_json or '{}'); sp=json.loads(slot_parse_result_json\
          \ or '{}')\n    card=rc.get('route_card') or {}; vals=sp.get('placeholder_values')\
          \ or {}; miss=[]\n    conflict_ph={c.get('placeholder') for c in sp.get('slot_conflicts',[])}\n\
          \    for slot in card.get('required_slots',[]):\n        ph=slot['placeholder'];\
          \ allowed=[v['value'] for v in slot.get('values',[])]\n        bad = ph\
          \ in conflict_ph or ph not in vals or vals.get(ph) in (None,'',[])\n   \
          \     if slot['slot']=='target_objects' and len(vals.get(ph) or []) < slot.get('min_items',1):\
          \ bad=True\n        if bad: miss.append({'slot':slot['slot'],'desc':slot.get('desc',''),'placeholder':ph,'allowed_values':allowed})\n\
          \    dim=vals.get('{{analysis_dimension}}'); template=(card.get('template_selector')\
          \ or {}).get(dim)\n    status='ok'; ready=True\n    if miss: status='need_slot';\
          \ ready=False\n    elif not template: status='template_not_found'; ready=False;\
          \ miss.append({'slot':'analysis_dimension','desc':'对比内容未匹配查询模板','placeholder':'{{analysis_dimension}}','allowed_values':list((card.get('template_selector')\
          \ or {}).keys())})\n    out={\"contract_version\":\"phone_module_jf_slot_validate_v1\"\
          ,\"status\":status,\"ready_to_query\":ready,\"missing_slots\":miss,\"placeholder_values\"\
          :vals,\"selected_template_id\":template}\n    return {\"slot_validate_result_json\"\
          :json.dumps(out,ensure_ascii=False),\"selected_template_id\":template or\
          \ ''}"
        title: 代码执行_必填槽位校验
        type: code
        variables: []
      dragging: false
      height: 52
      id: validate
      position:
        x: 1480
        y: 300
      positionAbsolute:
        x: 1480
        y: 300
      selected: false
      type: custom
      width: 242
      zIndex: 6
    - data:
        cases:
        - conditions:
          - comparison_operator: contains
            value: '"ready_to_query": false'
            variable_selector:
            - validate
            - slot_validate_result_json
          logical_operator: or
        - conditions:
          - comparison_operator: contains
            value: '"ready_to_query": true'
            variable_selector:
            - validate
            - slot_validate_result_json
          logical_operator: or
        desc: ''
        selected: false
        title: IF_是否缺槽
        type: if-else
      dragging: false
      height: 220
      id: ifslot
      position:
        x: 1760
        y: 300
      positionAbsolute:
        x: 1760
        y: 300
      selected: false
      type: custom
      width: 242
      zIndex: 7
    - data:
        code: "import json\n\ndef main(route_card_json: str, slot_validate_result_json:\
          \ str) -> dict:\n    rc=json.loads(route_card_json or '{}'); sv=json.loads(slot_validate_result_json\
          \ or '{}')\n    missing=[{'slot':m['slot'],'label':m.get('desc',m['slot']),'options':m.get('allowed_values',[]),'placeholder':m['placeholder']}\
          \ for m in sv.get('missing_slots',[])]\n    out={\"contract_version\":\"\
          phone_module_jf_slot_fill_request_v1\",\"status\":\"need_slot\",\"answer_type\"\
          :\"slot_fill_request\",\"route_id\":rc.get('route_id','phone_module_jf_compare'),\"\
          message\":\"还需要补充以下信息后才能查询：\",\"missing_slots\":missing,\"known_values\"\
          :sv.get('placeholder_values',{})}\n    return {\"slot_fill_request_json\"\
          :json.dumps(out,ensure_ascii=False),\"pending_route_id\":rc.get('route_id',''),\"\
          pending_route_card_json\":json.dumps(rc.get('route_card',{}),ensure_ascii=False),\"\
          partial_placeholder_values_json\":json.dumps(sv.get('placeholder_values',{}),ensure_ascii=False),\"\
          pending_missing_slots_json\":json.dumps(missing,ensure_ascii=False),\"final_answer\"\
          :json.dumps(out,ensure_ascii=False)}"
        code_language: python3
        desc: ''
        outputs:
          final_answer:
            type: string
          partial_placeholder_values_json:
            type: string
          pending_missing_slots_json:
            type: string
          pending_route_card_json:
            type: string
          pending_route_id:
            type: string
          slot_fill_request_json:
            type: string
        selected: false
        source_code: "import json\n\ndef main(route_card_json: str, slot_validate_result_json:\
          \ str) -> dict:\n    rc=json.loads(route_card_json or '{}'); sv=json.loads(slot_validate_result_json\
          \ or '{}')\n    missing=[{'slot':m['slot'],'label':m.get('desc',m['slot']),'options':m.get('allowed_values',[]),'placeholder':m['placeholder']}\
          \ for m in sv.get('missing_slots',[])]\n    out={\"contract_version\":\"\
          phone_module_jf_slot_fill_request_v1\",\"status\":\"need_slot\",\"answer_type\"\
          :\"slot_fill_request\",\"route_id\":rc.get('route_id','phone_module_jf_compare'),\"\
          message\":\"还需要补充以下信息后才能查询：\",\"missing_slots\":missing,\"known_values\"\
          :sv.get('placeholder_values',{})}\n    return {\"slot_fill_request_json\"\
          :json.dumps(out,ensure_ascii=False),\"pending_route_id\":rc.get('route_id',''),\"\
          pending_route_card_json\":json.dumps(rc.get('route_card',{}),ensure_ascii=False),\"\
          partial_placeholder_values_json\":json.dumps(sv.get('placeholder_values',{}),ensure_ascii=False),\"\
          pending_missing_slots_json\":json.dumps(missing,ensure_ascii=False),\"final_answer\"\
          :json.dumps(out,ensure_ascii=False)}"
        title: 代码执行_生成填槽请求
        type: code
        variables: []
      dragging: false
      height: 52
      id: fill
      position:
        x: 2040
        y: 40
      positionAbsolute:
        x: 2040
        y: 40
      selected: false
      type: custom
      width: 242
      zIndex: 8
    - data:
        answer: '{{#fill.final_answer#}}'
        desc: ''
        selected: false
        title: 结束_返回填槽请求
        type: answer
        variables: []
      dragging: false
      height: 103
      id: ansslot
      position:
        x: 2320
        y: 40
      positionAbsolute:
        x: 2320
        y: 40
      selected: false
      type: custom
      width: 242
      zIndex: 9
    - data:
        code: "import json\n\ndef main(slot_validate_result_json: str) -> dict:\n\
          \    sv=json.loads(slot_validate_result_json or '{}'); tid=sv.get('selected_template_id')\n\
          \    out={\"contract_version\":\"phone_module_jf_query_plan_v1\",\"status\"\
          :\"ok\" if tid else \"template_not_found\",\"query_plan\":{\"query_steps\"\
          :[{\"step_id\":\"main_query\",\"template_id\":tid,\"engine\":\"mongodb\"\
          }] if tid else []}}\n    return {\"query_plan_json\":json.dumps(out,ensure_ascii=False)}"
        code_language: python3
        desc: ''
        outputs:
          query_plan_json:
            type: string
        selected: false
        source_code: "import json\n\ndef main(slot_validate_result_json: str) -> dict:\n\
          \    sv=json.loads(slot_validate_result_json or '{}'); tid=sv.get('selected_template_id')\n\
          \    out={\"contract_version\":\"phone_module_jf_query_plan_v1\",\"status\"\
          :\"ok\" if tid else \"template_not_found\",\"query_plan\":{\"query_steps\"\
          :[{\"step_id\":\"main_query\",\"template_id\":tid,\"engine\":\"mongodb\"\
          }] if tid else []}}\n    return {\"query_plan_json\":json.dumps(out,ensure_ascii=False)}"
        title: 代码执行_构建QueryPlan
        type: code
        variables: []
      dragging: false
      height: 52
      id: plan
      position:
        x: 2040
        y: 300
      positionAbsolute:
        x: 2040
        y: 300
      selected: false
      type: custom
      width: 242
      zIndex: 10
    - data:
        code: "import json, re\nQUERY_TEMPLATES={\n 'template_spec_compare': {'collection':'camera_modules','pipeline':[{'$match':{'phone_model':{'$in':'{{target_objects}}'},'module_type':'{{object_scope}}'}},{'$unwind':'$specifications'},{'$unwind':'$specifications.fields'},{'$project':{'_id':0,'target':'$phone_model','scope':'$module_type','category':'$specifications.spec_type','metric_name':'$specifications.fields.name','metric_value':'$specifications.fields.value','metric_label':'$specifications.fields.label'}}]},\n\
          \ 'template_power_topology_compare': {'collection':'camera_modules','pipeline':[{'$match':{'phone_model':{'$in':'{{target_objects}}'},'module_type':'{{object_scope}}'}},{'$unwind':'$power_topology'},{'$project':{'_id':0,'target':'$phone_model','scope':'$module_type','category':'供电拓扑','metric_name':'$power_topology.name','metric_value':'$power_topology.value','metric_label':'$power_topology.label'}}]},\n\
          \ 'template_power_compare': {'collection':'camera_modules','pipeline':[{'$match':{'phone_model':{'$in':'{{target_objects}}'},'module_type':'{{object_scope}}'}},{'$unwind':'$power_consumption'},{'$project':{'_id':0,'target':'$phone_model','scope':'$module_type','category':'功耗','metric_name':'$power_consumption.mode','metric_value':'$power_consumption.value','metric_label':'$power_consumption.label'}}]}}\n\
          ALLOW={'camera_modules'}\ndef fill(x, vals):\n    if isinstance(x,str) and\
          \ x in vals: return vals[x]\n    if isinstance(x,list): return [fill(i,vals)\
          \ for i in x]\n    if isinstance(x,dict): return {k:fill(v,vals) for k,v\
          \ in x.items()}\n    return x\n\ndef main(slot_validate_result_json: str)\
          \ -> dict:\n    sv=json.loads(slot_validate_result_json or '{}'); vals=sv.get('placeholder_values')\
          \ or {}; tid=sv.get('selected_template_id')\n    tpl=QUERY_TEMPLATES.get(tid)\n\
          \    if not tpl or tpl['collection'] not in ALLOW:\n        out={\"contract_version\"\
          :\"phone_module_jf_mongo_request_v1\",\"status\":\"mongo_request_invalid\"\
          ,\"message\":\"template or collection not allowed\"}\n    elif '{{target_objects}}'\
          \ not in vals or '{{object_scope}}' not in vals:\n        out={\"contract_version\"\
          :\"phone_module_jf_mongo_request_v1\",\"status\":\"mongo_request_invalid\"\
          ,\"message\":\"missing placeholder\"}\n    else:\n        req={'collection':tpl['collection'],'pipeline':fill(tpl['pipeline'],vals)}\n\
          \        out={\"contract_version\":\"phone_module_jf_mongo_request_v1\"\
          ,\"status\":\"ok\",\"mongo_request\":req}\n        if re.search(r'\\{\\\
          {[^}]+\\}\\}', json.dumps(req,ensure_ascii=False)): out['status']='mongo_request_invalid'\n\
          \    return {\"mongo_request_json\":json.dumps(out,ensure_ascii=False),\"\
          mongo_request_body_json\":json.dumps(out.get(\"mongo_request\",{}),ensure_ascii=False)}"
        code_language: python3
        desc: ''
        outputs:
          mongo_request_body_json:
            type: string
          mongo_request_json:
            type: string
        selected: false
        source_code: "import json, re\nQUERY_TEMPLATES={\n 'template_spec_compare':\
          \ {'collection':'camera_modules','pipeline':[{'$match':{'phone_model':{'$in':'{{target_objects}}'},'module_type':'{{object_scope}}'}},{'$unwind':'$specifications'},{'$unwind':'$specifications.fields'},{'$project':{'_id':0,'target':'$phone_model','scope':'$module_type','category':'$specifications.spec_type','metric_name':'$specifications.fields.name','metric_value':'$specifications.fields.value','metric_label':'$specifications.fields.label'}}]},\n\
          \ 'template_power_topology_compare': {'collection':'camera_modules','pipeline':[{'$match':{'phone_model':{'$in':'{{target_objects}}'},'module_type':'{{object_scope}}'}},{'$unwind':'$power_topology'},{'$project':{'_id':0,'target':'$phone_model','scope':'$module_type','category':'供电拓扑','metric_name':'$power_topology.name','metric_value':'$power_topology.value','metric_label':'$power_topology.label'}}]},\n\
          \ 'template_power_compare': {'collection':'camera_modules','pipeline':[{'$match':{'phone_model':{'$in':'{{target_objects}}'},'module_type':'{{object_scope}}'}},{'$unwind':'$power_consumption'},{'$project':{'_id':0,'target':'$phone_model','scope':'$module_type','category':'功耗','metric_name':'$power_consumption.mode','metric_value':'$power_consumption.value','metric_label':'$power_consumption.label'}}]}}\n\
          ALLOW={'camera_modules'}\ndef fill(x, vals):\n    if isinstance(x,str) and\
          \ x in vals: return vals[x]\n    if isinstance(x,list): return [fill(i,vals)\
          \ for i in x]\n    if isinstance(x,dict): return {k:fill(v,vals) for k,v\
          \ in x.items()}\n    return x\n\ndef main(slot_validate_result_json: str)\
          \ -> dict:\n    sv=json.loads(slot_validate_result_json or '{}'); vals=sv.get('placeholder_values')\
          \ or {}; tid=sv.get('selected_template_id')\n    tpl=QUERY_TEMPLATES.get(tid)\n\
          \    if not tpl or tpl['collection'] not in ALLOW:\n        out={\"contract_version\"\
          :\"phone_module_jf_mongo_request_v1\",\"status\":\"mongo_request_invalid\"\
          ,\"message\":\"template or collection not allowed\"}\n    elif '{{target_objects}}'\
          \ not in vals or '{{object_scope}}' not in vals:\n        out={\"contract_version\"\
          :\"phone_module_jf_mongo_request_v1\",\"status\":\"mongo_request_invalid\"\
          ,\"message\":\"missing placeholder\"}\n    else:\n        req={'collection':tpl['collection'],'pipeline':fill(tpl['pipeline'],vals)}\n\
          \        out={\"contract_version\":\"phone_module_jf_mongo_request_v1\"\
          ,\"status\":\"ok\",\"mongo_request\":req}\n        if re.search(r'\\{\\\
          {[^}]+\\}\\}', json.dumps(req,ensure_ascii=False)): out['status']='mongo_request_invalid'\n\
          \    return {\"mongo_request_json\":json.dumps(out,ensure_ascii=False),\"\
          mongo_request_body_json\":json.dumps(out.get(\"mongo_request\",{}),ensure_ascii=False)}"
        title: 代码执行_填充占位符生成Mongo请求
        type: code
        variables: []
      dragging: false
      height: 52
      id: mongo
      position:
        x: 2320
        y: 300
      positionAbsolute:
        x: 2320
        y: 300
      selected: false
      type: custom
      width: 242
      zIndex: 11
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: '{{#mongo.mongo_request_body_json#}}'
          type: json
        desc: ''
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP请求_执行Mongo查询
        type: http-request
        url: '{{#env.MONGO_QUERY_API_URL#}}'
      dragging: false
      height: 126
      id: http
      position:
        x: 2600
        y: 300
      positionAbsolute:
        x: 2600
        y: 300
      selected: false
      type: custom
      width: 242
      zIndex: 12
    - data:
        code: "import json\n\ndef main(mongo_response_body: str, slot_validate_result_json:\
          \ str, selected_template_id: str) -> dict:\n    sv=json.loads(slot_validate_result_json\
          \ or '{}'); vals=sv.get('placeholder_values') or {}; targets=vals.get('{{target_objects}}')\
          \ or []\n    try: resp=json.loads(mongo_response_body or '{}')\n    except\
          \ Exception: resp={}\n    if resp.get('success') is False:\n        out={\"\
          contract_version\":\"phone_module_jf_query_result_v1\",\"status\":\"mongo_query_failed\"\
          ,\"message\":resp.get('error') or 'Mongo query failed'}\n        return\
          \ {\"normalized_query_result_json\":json.dumps(out,ensure_ascii=False)}\n\
          \    rows=resp.get('rows') or resp.get('data') or resp.get('result') or\
          \ []\n    if isinstance(rows,dict): rows=rows.get('rows') or rows.get('items')\
          \ or []\n    found=[]\n    for r in rows:\n        t=r.get('target')\n \
          \       if t and t not in found: found.append(t)\n    missing=[t for t in\
          \ targets if t not in found]\n    ds='empty' if not rows else ('partial'\
          \ if missing else 'ok')\n    gaps=[{'type':'missing_target','target':t}\
          \ for t in missing] if rows else []\n    out={\"contract_version\":\"phone_module_jf_query_result_v1\"\
          ,\"status\":\"ok\",\"route_id\":\"phone_module_jf_compare\",\"template_id\"\
          :selected_template_id,\"output_type\":vals.get('{{output_type}}'),\"targets\"\
          :targets,\"rows\":rows,\"row_count\":len(rows),\"target_coverage\":{\"expected_targets\"\
          :targets,\"found_targets\":found,\"missing_targets\":missing},\"data_gaps\"\
          :gaps,\"data_status\":ds}\n    return {\"normalized_query_result_json\"\
          :json.dumps(out,ensure_ascii=False)}"
        code_language: python3
        desc: ''
        outputs:
          normalized_query_result_json:
            type: string
        selected: false
        source_code: "import json\n\ndef main(mongo_response_body: str, slot_validate_result_json:\
          \ str, selected_template_id: str) -> dict:\n    sv=json.loads(slot_validate_result_json\
          \ or '{}'); vals=sv.get('placeholder_values') or {}; targets=vals.get('{{target_objects}}')\
          \ or []\n    try: resp=json.loads(mongo_response_body or '{}')\n    except\
          \ Exception: resp={}\n    if resp.get('success') is False:\n        out={\"\
          contract_version\":\"phone_module_jf_query_result_v1\",\"status\":\"mongo_query_failed\"\
          ,\"message\":resp.get('error') or 'Mongo query failed'}\n        return\
          \ {\"normalized_query_result_json\":json.dumps(out,ensure_ascii=False)}\n\
          \    rows=resp.get('rows') or resp.get('data') or resp.get('result') or\
          \ []\n    if isinstance(rows,dict): rows=rows.get('rows') or rows.get('items')\
          \ or []\n    found=[]\n    for r in rows:\n        t=r.get('target')\n \
          \       if t and t not in found: found.append(t)\n    missing=[t for t in\
          \ targets if t not in found]\n    ds='empty' if not rows else ('partial'\
          \ if missing else 'ok')\n    gaps=[{'type':'missing_target','target':t}\
          \ for t in missing] if rows else []\n    out={\"contract_version\":\"phone_module_jf_query_result_v1\"\
          ,\"status\":\"ok\",\"route_id\":\"phone_module_jf_compare\",\"template_id\"\
          :selected_template_id,\"output_type\":vals.get('{{output_type}}'),\"targets\"\
          :targets,\"rows\":rows,\"row_count\":len(rows),\"target_coverage\":{\"expected_targets\"\
          :targets,\"found_targets\":found,\"missing_targets\":missing},\"data_gaps\"\
          :gaps,\"data_status\":ds}\n    return {\"normalized_query_result_json\"\
          :json.dumps(out,ensure_ascii=False)}"
        title: 代码执行_标准化查询结果
        type: code
        variables: []
      dragging: false
      height: 52
      id: norm
      position:
        x: 2880
        y: 300
      positionAbsolute:
        x: 2880
        y: 300
      selected: false
      type: custom
      width: 242
      zIndex: 13
    - data:
        code: "import json\n\ndef pivot(rows, targets):\n    keys=[]; table={}\n \
          \   for r in rows:\n        k=(r.get('category',''), r.get('metric_label')\
          \ or r.get('metric_name',''))\n        if k not in table: table[k]={}; keys.append(k)\n\
          \        table[k][r.get('target')]=r.get('metric_value','')\n    lines=['|\
          \ 类别 | 指标 | '+' | '.join(targets)+' |','|---|---|'+'|'.join(['---']*len(targets))+'|']\n\
          \    for cat,name in keys: lines.append('| '+cat+' | '+name+' | '+' | '.join(str(table[(cat,name)].get(t,''))\
          \ for t in targets)+' |')\n    return '\n'.join(lines)\n\ndef main(normalized_query_result_json:\
          \ str) -> dict:\n    nq=json.loads(normalized_query_result_json or '{}');\
          \ rows=nq.get('rows') or []; targets=nq.get('targets') or []; ot=nq.get('output_type')\n\
          \    md=pivot(rows, targets) if rows else ''\n    if nq.get('data_status')=='empty':\
          \ status='no_data'; at='no_data'\n    elif ot=='对比表': status='ok'; at='compare_table'\n\
          \    elif ot=='Excel': status='ok'; at='excel_payload'\n    elif ot=='趋势分析'\
          \ and len(targets)<3: status='unsupported'; at='unsupported_message'\n \
          \   elif ot=='趋势分析': status='ok'; at='trend_analysis'\n    else: status='partial_data'\
          \ if nq.get('data_status')=='partial' else 'ok'; at='compare_report'\n \
          \   out={\"contract_version\":\"phone_module_jf_analysis_result_v1\",\"\
          status\":status,\"answer_type\":at,\"markdown_table\":md,\"comparison_table\"\
          :rows,\"key_findings\":[],\"data_gaps\":nq.get('data_gaps',[]),\"targets\"\
          :targets,\"output_type\":ot,\"excel_payload\":{\"filename\":\"phone_module_jf_compare.xlsx\"\
          ,\"sheets\":[{\"sheet_name\":\"对比结果\",\"columns\":[\"target\",\"scope\"\
          ,\"category\",\"metric_name\",\"metric_value\",\"metric_label\"],\"rows\"\
          :rows}]}}\n    return {\"analysis_result_json\":json.dumps(out,ensure_ascii=False)}"
        code_language: python3
        desc: ''
        outputs:
          analysis_result_json:
            type: string
        selected: false
        source_code: "import json\n\ndef pivot(rows, targets):\n    keys=[]; table={}\n\
          \    for r in rows:\n        k=(r.get('category',''), r.get('metric_label')\
          \ or r.get('metric_name',''))\n        if k not in table: table[k]={}; keys.append(k)\n\
          \        table[k][r.get('target')]=r.get('metric_value','')\n    lines=['|\
          \ 类别 | 指标 | '+' | '.join(targets)+' |','|---|---|'+'|'.join(['---']*len(targets))+'|']\n\
          \    for cat,name in keys: lines.append('| '+cat+' | '+name+' | '+' | '.join(str(table[(cat,name)].get(t,''))\
          \ for t in targets)+' |')\n    return '\n'.join(lines)\n\ndef main(normalized_query_result_json:\
          \ str) -> dict:\n    nq=json.loads(normalized_query_result_json or '{}');\
          \ rows=nq.get('rows') or []; targets=nq.get('targets') or []; ot=nq.get('output_type')\n\
          \    md=pivot(rows, targets) if rows else ''\n    if nq.get('data_status')=='empty':\
          \ status='no_data'; at='no_data'\n    elif ot=='对比表': status='ok'; at='compare_table'\n\
          \    elif ot=='Excel': status='ok'; at='excel_payload'\n    elif ot=='趋势分析'\
          \ and len(targets)<3: status='unsupported'; at='unsupported_message'\n \
          \   elif ot=='趋势分析': status='ok'; at='trend_analysis'\n    else: status='partial_data'\
          \ if nq.get('data_status')=='partial' else 'ok'; at='compare_report'\n \
          \   out={\"contract_version\":\"phone_module_jf_analysis_result_v1\",\"\
          status\":status,\"answer_type\":at,\"markdown_table\":md,\"comparison_table\"\
          :rows,\"key_findings\":[],\"data_gaps\":nq.get('data_gaps',[]),\"targets\"\
          :targets,\"output_type\":ot,\"excel_payload\":{\"filename\":\"phone_module_jf_compare.xlsx\"\
          ,\"sheets\":[{\"sheet_name\":\"对比结果\",\"columns\":[\"target\",\"scope\"\
          ,\"category\",\"metric_name\",\"metric_value\",\"metric_label\"],\"rows\"\
          :rows}]}}\n    return {\"analysis_result_json\":json.dumps(out,ensure_ascii=False)}"
        title: 代码执行_按output_type生成分析结果
        type: code
        variables: []
      dragging: false
      height: 52
      id: analysis
      position:
        x: 3160
        y: 300
      positionAbsolute:
        x: 3160
        y: 300
      selected: false
      type: custom
      width: 242
      zIndex: 14
    - data:
        cases:
        - conditions:
          - comparison_operator: contains
            value: '"output_type": "对比报告"'
            variable_selector:
            - analysis
            - analysis_result_json
          logical_operator: and
        desc: ''
        selected: false
        title: IF_output_type是否为报告类
        type: if-else
      dragging: false
      height: 148
      id: ifreport
      position:
        x: 3440
        y: 300
      positionAbsolute:
        x: 3440
        y: 300
      selected: false
      type: custom
      width: 242
      zIndex: 15
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory: null
        model:
          completion_params: {}
          mode: chat
          name: qwen2.5:7b
          provider: langgenius/ollama/ollama
        prompt_template:
        - role: system
          text: 只按输入 JSON 写简短 Markdown 报告；不得补充不存在的数据；有 data_gaps 必须列出。
        - role: user
          text: 'report_input_json:

            {{#report_input.report_input_json#}}'
        selected: false
        title: LLM_生成竞分对比报告_本地版
        type: llm
        variables: []
        vision:
          enabled: false
      dragging: false
      height: 94
      id: llmlocal
      position:
        x: 5365.260047943533
        y: 245.61990943999194
      positionAbsolute:
        x: 5365.260047943533
        y: 245.61990943999194
      selected: false
      type: custom
      width: 242
      zIndex: 17
    - data:
        code: "import json\n\ndef _load(s):\n    try: return json.loads(s or '{}')\n\
          \    except Exception: return {}\n\ndef main(analysis_result_json: str =\
          \ '', full_llm_result_json: str = '', local_llm_result_json: str = '', slot_fill_request_json:\
          \ str = '', slot_validate_result_json: str = '', enable_full_llm: str =\
          \ '') -> dict:\n    if slot_fill_request_json:\n        sf=_load(slot_fill_request_json);\
          \ final=sf.get('message','')+' '+', '.join(m.get('label','') for m in sf.get('missing_slots',[]))\n\
          \        out={\"contract_version\":\"phone_module_jf_final_answer_v1\",\"\
          status\":\"need_slot\",\"answer_type\":\"slot_fill_request\",\"llm_source\"\
          :\"no_llm\",\"full_llm_enabled\":False,\"full_llm_fallback_reason\":\"\"\
          ,\"final_answer\":final,\"slot_fill_request\":sf}\n    else:\n        ar=_load(analysis_result_json);\
          \ fr=_load(full_llm_result_json); lr=_load(local_llm_result_json)\n    \
          \    status='no_data' if ar.get('status')=='no_data' else ('partial_data'\
          \ if ar.get('status')=='partial_data' else 'ok')\n        full_enabled=(str(enable_full_llm).lower()=='true')\
          \ or (fr.get('status')=='ok') or (lr.get('full_llm_fallback_reason') in\
          \ ['token_failed','full_llm_http_failed','full_llm_empty_response'])\n \
          \       llm_source='no_llm'; fallback=''; ans=ar.get('markdown_table') or\
          \ json.dumps(ar.get('excel_payload') or ar, ensure_ascii=False)\n      \
          \  if fr.get('status')=='ok' and fr.get('llm_report_markdown'):\n      \
          \      llm_source='full_llm'; ans=fr.get('llm_report_markdown'); fallback=''\n\
          \        elif lr.get('status')=='ok':\n            llm_source='local_llm';\
          \ ans=lr.get('llm_report_markdown') or ans; fallback=lr.get('full_llm_fallback_reason')\
          \ or ('full_llm_disabled' if not full_enabled else '')\n        if status=='no_data':\
          \ ans='未查询到相关数据，请检查机型、模组或数据是否已入库。'\n        out={\"contract_version\":\"\
          phone_module_jf_final_answer_v1\",\"status\":status,\"answer_type\":ar.get('answer_type'),\"\
          route_id\":\"phone_module_jf_compare\",\"template_id\":\"\",\"llm_source\"\
          :llm_source,\"full_llm_enabled\":full_enabled,\"full_llm_fallback_reason\"\
          :fallback,\"final_answer\":ans,\"tables\":[ar.get('markdown_table')] if\
          \ ar.get('markdown_table') else [],\"data_gaps\":ar.get('data_gaps',[]),\"\
          debug_summary\":{\"target_objects\":ar.get('targets',[]),\"output_type\"\
          :ar.get('output_type'),\"full_llm_enabled\":full_enabled,\"llm_source\"\
          :llm_source,\"full_llm_fallback_reason\":fallback},\"clear_pending_slots\"\
          :True,\"pending_route_id\":\"\",\"pending_route_card_json\":\"\",\"partial_placeholder_values_json\"\
          :\"\",\"pending_missing_slots_json\":\"\"}\n    return {\"final_answer\"\
          :json.dumps(out,ensure_ascii=False)}"
        code_language: python3
        desc: ''
        outputs:
          final_answer:
            type: string
        selected: false
        source_code: "import json\n\ndef _load(s):\n    try: return json.loads(s or\
          \ '{}')\n    except Exception: return {}\n\ndef main(analysis_result_json:\
          \ str = '', full_llm_result_json: str = '', local_llm_result_json: str =\
          \ '', slot_fill_request_json: str = '', slot_validate_result_json: str =\
          \ '', enable_full_llm: str = '') -> dict:\n    if slot_fill_request_json:\n\
          \        sf=_load(slot_fill_request_json); final=sf.get('message','')+'\
          \ '+', '.join(m.get('label','') for m in sf.get('missing_slots',[]))\n \
          \       out={\"contract_version\":\"phone_module_jf_final_answer_v1\",\"\
          status\":\"need_slot\",\"answer_type\":\"slot_fill_request\",\"llm_source\"\
          :\"no_llm\",\"full_llm_enabled\":False,\"full_llm_fallback_reason\":\"\"\
          ,\"final_answer\":final,\"slot_fill_request\":sf}\n    else:\n        ar=_load(analysis_result_json);\
          \ fr=_load(full_llm_result_json); lr=_load(local_llm_result_json)\n    \
          \    status='no_data' if ar.get('status')=='no_data' else ('partial_data'\
          \ if ar.get('status')=='partial_data' else 'ok')\n        full_enabled=(str(enable_full_llm).lower()=='true')\
          \ or (fr.get('status')=='ok') or (lr.get('full_llm_fallback_reason') in\
          \ ['token_failed','full_llm_http_failed','full_llm_empty_response'])\n \
          \       llm_source='no_llm'; fallback=''; ans=ar.get('markdown_table') or\
          \ json.dumps(ar.get('excel_payload') or ar, ensure_ascii=False)\n      \
          \  if fr.get('status')=='ok' and fr.get('llm_report_markdown'):\n      \
          \      llm_source='full_llm'; ans=fr.get('llm_report_markdown'); fallback=''\n\
          \        elif lr.get('status')=='ok':\n            llm_source='local_llm';\
          \ ans=lr.get('llm_report_markdown') or ans; fallback=lr.get('full_llm_fallback_reason')\
          \ or ('full_llm_disabled' if not full_enabled else '')\n        if status=='no_data':\
          \ ans='未查询到相关数据，请检查机型、模组或数据是否已入库。'\n        out={\"contract_version\":\"\
          phone_module_jf_final_answer_v1\",\"status\":status,\"answer_type\":ar.get('answer_type'),\"\
          route_id\":\"phone_module_jf_compare\",\"template_id\":\"\",\"llm_source\"\
          :llm_source,\"full_llm_enabled\":full_enabled,\"full_llm_fallback_reason\"\
          :fallback,\"final_answer\":ans,\"tables\":[ar.get('markdown_table')] if\
          \ ar.get('markdown_table') else [],\"data_gaps\":ar.get('data_gaps',[]),\"\
          debug_summary\":{\"target_objects\":ar.get('targets',[]),\"output_type\"\
          :ar.get('output_type'),\"full_llm_enabled\":full_enabled,\"llm_source\"\
          :llm_source,\"full_llm_fallback_reason\":fallback},\"clear_pending_slots\"\
          :True,\"pending_route_id\":\"\",\"pending_route_card_json\":\"\",\"partial_placeholder_values_json\"\
          :\"\",\"pending_missing_slots_json\":\"\"}\n    return {\"final_answer\"\
          :json.dumps(out,ensure_ascii=False)}"
        title: 代码执行_合并最终回答
        type: code
        variables: []
      dragging: false
      height: 52
      id: final
      position:
        x: 6520
        y: 300
      positionAbsolute:
        x: 6520
        y: 300
      selected: false
      type: custom
      width: 242
      zIndex: 18
    - data:
        answer: '{{#final.final_answer#}}'
        desc: ''
        selected: false
        title: 结束_返回最终回答
        type: answer
        variables: []
      dragging: false
      height: 103
      id: ans
      position:
        x: 6800
        y: 300
      positionAbsolute:
        x: 6800
        y: 300
      selected: false
      type: custom
      width: 242
      zIndex: 19
    - data:
        cases:
        - conditions:
          - comparison_operator: is
            value: 'true'
            variable_selector:
            - env
            - ENABLE_FULL_LLM
          logical_operator: and
        desc: ENABLE_FULL_LLM=true 时走 token + 满血版 HTTP；否则走本地 LLM
        selected: false
        title: IF_满血版LLM开关
        type: if-else
      dragging: false
      height: 168
      id: ifllm
      position:
        x: 4000
        y: 40
      positionAbsolute:
        x: 4000
        y: 40
      selected: false
      type: custom
      width: 242
      zIndex: 99
    - data:
        code: "import json\n\ndef main(analysis_result_json: str) -> dict:\n    ar=json.loads(analysis_result_json\
          \ or '{}')\n    report_input={\n        \"route_id\":\"phone_module_jf_compare\"\
          ,\n        \"template_id\":ar.get('template_id',''),\n        \"output_type\"\
          :ar.get('output_type','对比报告'),\n        \"comparison_table\":ar.get('comparison_table')\
          \ or [],\n        \"key_findings\":ar.get('key_findings') or [],\n     \
          \   \"data_gaps\":ar.get('data_gaps') or [],\n        \"target_coverage\"\
          :{\"targets\":ar.get('targets') or []},\n        \"data_status\":ar.get('status','ok')\n\
          \    }\n    out={\"contract_version\":\"phone_module_jf_report_llm_input_v1\"\
          ,\"status\":\"ok\",\"report_input\":report_input}\n    return {\"report_input_json\"\
          :json.dumps(out,ensure_ascii=False)}"
        code_language: python3
        desc: ''
        outputs:
          report_input_json:
            type: string
        selected: false
        source_code: "import json\n\ndef main(analysis_result_json: str) -> dict:\n\
          \    ar=json.loads(analysis_result_json or '{}')\n    report_input={\n \
          \       \"route_id\":\"phone_module_jf_compare\",\n        \"template_id\"\
          :ar.get('template_id',''),\n        \"output_type\":ar.get('output_type','对比报告'),\n\
          \        \"comparison_table\":ar.get('comparison_table') or [],\n      \
          \  \"key_findings\":ar.get('key_findings') or [],\n        \"data_gaps\"\
          :ar.get('data_gaps') or [],\n        \"target_coverage\":{\"targets\":ar.get('targets')\
          \ or []},\n        \"data_status\":ar.get('status','ok')\n    }\n    out={\"\
          contract_version\":\"phone_module_jf_report_llm_input_v1\",\"status\":\"\
          ok\",\"report_input\":report_input}\n    return {\"report_input_json\":json.dumps(out,ensure_ascii=False)}"
        title: 代码执行_准备报告LLM输入
        type: code
        variables: []
      dragging: false
      height: 52
      id: report_input
      position:
        x: 3720
        y: 40
      positionAbsolute:
        x: 3720
        y: 40
      selected: false
      type: custom
      width: 242
      zIndex: 50
    - data:
        code: "import json\n\ndef main(report_input_json: str = '') -> dict:\n   \
          \ body={\"subject\":\"phone_module_jf_compare_report\",\"grant_type\":\"\
          client_credentials\"}\n    out={\"contract_version\":\"phone_module_jf_full_llm_token_request_v1\"\
          ,\"status\":\"ok\",\"token_request_body_json\":json.dumps(body,ensure_ascii=False)}\n\
          \    return {\"token_request_body_json\":out[\"token_request_body_json\"\
          ],\"full_llm_fallback_reason\":\"\"}"
        code_language: python3
        desc: ''
        outputs:
          full_llm_fallback_reason:
            type: string
          token_request_body_json:
            type: string
        selected: false
        source_code: "import json\n\ndef main(report_input_json: str = '') -> dict:\n\
          \    body={\"subject\":\"phone_module_jf_compare_report\",\"grant_type\"\
          :\"client_credentials\"}\n    out={\"contract_version\":\"phone_module_jf_full_llm_token_request_v1\"\
          ,\"status\":\"ok\",\"token_request_body_json\":json.dumps(body,ensure_ascii=False)}\n\
          \    return {\"token_request_body_json\":out[\"token_request_body_json\"\
          ],\"full_llm_fallback_reason\":\"\"}"
        title: 代码执行_准备满血版Token请求
        type: code
        variables: []
      dragging: false
      height: 52
      id: token_req
      position:
        x: 4280
        y: 40
      positionAbsolute:
        x: 4280
        y: 40
      selected: false
      type: custom
      width: 242
      zIndex: 50
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: '{{#token_req.token_request_body_json#}}'
          type: json
        desc: ''
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP请求_获取满血版LLM Token
        type: http-request
        url: '{{#env.LLM_TOKEN_URL#}}'
      dragging: false
      height: 126
      id: http_token
      position:
        x: 4560
        y: 40
      positionAbsolute:
        x: 4560
        y: 40
      selected: false
      type: custom
      width: 242
      zIndex: 52
    - data:
        code: "import json\n\ndef main(body: str = '', status_code: int = 0, error:\
          \ str = '') -> dict:\n    token=''; err=error or ''\n    try:\n        obj=json.loads(body\
          \ or '{}') if isinstance(body,str) else (body or {})\n        token=obj.get('access_token')\
          \ or obj.get('token') or obj.get('data',{}).get('access_token') or obj.get('data',{}).get('token')\
          \ or ''\n    except Exception as e:\n        err=str(e)\n    ok=bool(token)\
          \ and (not status_code or 200 <= int(status_code) < 300)\n    out={\"contract_version\"\
          :\"phone_module_jf_full_llm_token_result_v1\",\"status\":\"ok\" if ok else\
          \ \"failed\",\"access_token\":token,\"error\":\"\" if ok else (err or 'token_failed'),\"\
          full_llm_fallback_reason\":\"\" if ok else \"token_failed\"}\n    return\
          \ {\"full_llm_token_result_json\":json.dumps(out,ensure_ascii=False),\"\
          access_token\":token,\"full_llm_fallback_reason\":out[\"full_llm_fallback_reason\"\
          ]}"
        code_language: python3
        desc: ''
        outputs:
          access_token:
            type: string
          full_llm_fallback_reason:
            type: string
          full_llm_token_result_json:
            type: string
        selected: false
        source_code: "import json\n\ndef main(body: str = '', status_code: int = 0,\
          \ error: str = '') -> dict:\n    token=''; err=error or ''\n    try:\n \
          \       obj=json.loads(body or '{}') if isinstance(body,str) else (body\
          \ or {})\n        token=obj.get('access_token') or obj.get('token') or obj.get('data',{}).get('access_token')\
          \ or obj.get('data',{}).get('token') or ''\n    except Exception as e:\n\
          \        err=str(e)\n    ok=bool(token) and (not status_code or 200 <= int(status_code)\
          \ < 300)\n    out={\"contract_version\":\"phone_module_jf_full_llm_token_result_v1\"\
          ,\"status\":\"ok\" if ok else \"failed\",\"access_token\":token,\"error\"\
          :\"\" if ok else (err or 'token_failed'),\"full_llm_fallback_reason\":\"\
          \" if ok else \"token_failed\"}\n    return {\"full_llm_token_result_json\"\
          :json.dumps(out,ensure_ascii=False),\"access_token\":token,\"full_llm_fallback_reason\"\
          :out[\"full_llm_fallback_reason\"]}"
        title: 代码执行_解析满血版Token结果
        type: code
        variables: []
      dragging: false
      height: 52
      id: token_parse
      position:
        x: 4840
        y: 40
      positionAbsolute:
        x: 4840
        y: 40
      selected: false
      type: custom
      width: 242
      zIndex: 50
    - data:
        cases:
        - conditions:
          - comparison_operator: contains
            value: '"status": "ok"'
            variable_selector:
            - token_parse
            - full_llm_token_result_json
          id: ok
          logical_operator: and
        desc: ''
        selected: false
        title: IF_满血版Token是否成功
        type: if-else
      dragging: false
      height: 148
      id: if_token
      position:
        x: 5120
        y: 40
      positionAbsolute:
        x: 5120
        y: 40
      selected: false
      type: custom
      width: 242
      zIndex: 51
    - data:
        code: "import json\n\ndef main(report_input_json: str, full_llm_token_result_json:\
          \ str) -> dict:\n    ri=json.loads(report_input_json or '{}')\n    tr=json.loads(full_llm_token_result_json\
          \ or '{}')\n    body={\"messages\":[{\"role\":\"system\",\"content\":\"\
          你是手机摄像头模组竞分分析助手，只能基于输入数据生成Markdown报告。\"},{\"role\":\"user\",\"content\"\
          :json.dumps(ri.get('report_input',{}),ensure_ascii=False)}],\"stream\":False}\n\
          \    auth='Bearer '+(tr.get('access_token') or '')\n    out={\"contract_version\"\
          :\"phone_module_jf_full_llm_request_v1\",\"status\":\"ok\",\"full_llm_request_body_json\"\
          :json.dumps(body,ensure_ascii=False),\"authorization_header\":auth}\n  \
          \  return {\"full_llm_request_body_json\":out[\"full_llm_request_body_json\"\
          ],\"authorization_header\":auth}"
        code_language: python3
        desc: ''
        outputs:
          authorization_header:
            type: string
          full_llm_request_body_json:
            type: string
        selected: false
        source_code: "import json\n\ndef main(report_input_json: str, full_llm_token_result_json:\
          \ str) -> dict:\n    ri=json.loads(report_input_json or '{}')\n    tr=json.loads(full_llm_token_result_json\
          \ or '{}')\n    body={\"messages\":[{\"role\":\"system\",\"content\":\"\
          你是手机摄像头模组竞分分析助手，只能基于输入数据生成Markdown报告。\"},{\"role\":\"user\",\"content\"\
          :json.dumps(ri.get('report_input',{}),ensure_ascii=False)}],\"stream\":False}\n\
          \    auth='Bearer '+(tr.get('access_token') or '')\n    out={\"contract_version\"\
          :\"phone_module_jf_full_llm_request_v1\",\"status\":\"ok\",\"full_llm_request_body_json\"\
          :json.dumps(body,ensure_ascii=False),\"authorization_header\":auth}\n  \
          \  return {\"full_llm_request_body_json\":out[\"full_llm_request_body_json\"\
          ],\"authorization_header\":auth}"
        title: 代码执行_准备满血版LLM请求
        type: code
        variables: []
      dragging: false
      height: 52
      id: full_req
      position:
        x: 5400
        y: 40
      positionAbsolute:
        x: 5400
        y: 40
      selected: false
      type: custom
      width: 242
      zIndex: 50
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: '{{#full_req.full_llm_request_body_json#}}'
          type: json
        desc: ''
        headers: 'Authorization: {{#full_req.authorization_header#}}'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP请求_调用满血版LLM接口
        type: http-request
        url: '{{#env.FULL_LLM_API_URL#}}'
      dragging: false
      height: 126
      id: http_full
      position:
        x: 5680
        y: 40
      positionAbsolute:
        x: 5680
        y: 40
      selected: false
      type: custom
      width: 242
      zIndex: 52
    - data:
        code: "import json\n\ndef main(body: str = '', status_code: int = 0, error:\
          \ str = '') -> dict:\n    text=''; err=error or ''\n    try:\n        obj=json.loads(body\
          \ or '{}') if isinstance(body,str) else (body or {})\n        text=(obj.get('choices',[{}])[0].get('message',{}).get('content')\
          \ if obj.get('choices') else '') or obj.get('content') or obj.get('text')\
          \ or obj.get('data',{}).get('content') or obj.get('data',{}).get('text')\
          \ or ''\n    except Exception as e:\n        err=str(e)\n    reason=''\n\
          \    if status_code and not (200 <= int(status_code) < 300): reason='full_llm_http_failed'\n\
          \    elif not text.strip(): reason='full_llm_empty_response'\n    ok=not\
          \ reason\n    out={\"contract_version\":\"phone_module_jf_full_llm_result_v1\"\
          ,\"status\":\"ok\" if ok else \"failed\",\"llm_report_markdown\":text,\"\
          llm_source\":\"full_llm\" if ok else \"\",\"error\":\"\" if ok else (err\
          \ or reason),\"full_llm_fallback_reason\":reason}\n    return {\"full_llm_result_json\"\
          :json.dumps(out,ensure_ascii=False),\"llm_report_markdown\":text,\"full_llm_fallback_reason\"\
          :reason}"
        code_language: python3
        desc: ''
        outputs:
          full_llm_fallback_reason:
            type: string
          full_llm_result_json:
            type: string
          llm_report_markdown:
            type: string
        selected: false
        source_code: "import json\n\ndef main(body: str = '', status_code: int = 0,\
          \ error: str = '') -> dict:\n    text=''; err=error or ''\n    try:\n  \
          \      obj=json.loads(body or '{}') if isinstance(body,str) else (body or\
          \ {})\n        text=(obj.get('choices',[{}])[0].get('message',{}).get('content')\
          \ if obj.get('choices') else '') or obj.get('content') or obj.get('text')\
          \ or obj.get('data',{}).get('content') or obj.get('data',{}).get('text')\
          \ or ''\n    except Exception as e:\n        err=str(e)\n    reason=''\n\
          \    if status_code and not (200 <= int(status_code) < 300): reason='full_llm_http_failed'\n\
          \    elif not text.strip(): reason='full_llm_empty_response'\n    ok=not\
          \ reason\n    out={\"contract_version\":\"phone_module_jf_full_llm_result_v1\"\
          ,\"status\":\"ok\" if ok else \"failed\",\"llm_report_markdown\":text,\"\
          llm_source\":\"full_llm\" if ok else \"\",\"error\":\"\" if ok else (err\
          \ or reason),\"full_llm_fallback_reason\":reason}\n    return {\"full_llm_result_json\"\
          :json.dumps(out,ensure_ascii=False),\"llm_report_markdown\":text,\"full_llm_fallback_reason\"\
          :reason}"
        title: 代码执行_解析满血版LLM响应
        type: code
        variables: []
      dragging: false
      height: 52
      id: full_parse
      position:
        x: 5960
        y: 40
      positionAbsolute:
        x: 5960
        y: 40
      selected: false
      type: custom
      width: 242
      zIndex: 50
    - data:
        cases:
        - conditions:
          - comparison_operator: contains
            value: '"status": "ok"'
            variable_selector:
            - full_parse
            - full_llm_result_json
          logical_operator: and
        desc: ''
        selected: false
        title: IF_满血版LLM是否成功
        type: if-else
      dragging: false
      height: 148
      id: if_full
      position:
        x: 6255
        y: -5.9999999999998295
      positionAbsolute:
        x: 6255
        y: -5.9999999999998295
      selected: true
      type: custom
      width: 242
      zIndex: 51
    - data:
        code: "import json\n\ndef main(llm_report_markdown: str = '', full_llm_fallback_reason:\
          \ str = '') -> dict:\n    reason=full_llm_fallback_reason or 'full_llm_disabled'\n\
          \    out={\"contract_version\":\"phone_module_jf_local_llm_result_v1\",\"\
          status\":\"ok\",\"llm_report_markdown\":llm_report_markdown or '',\"llm_source\"\
          :\"local_llm\",\"full_llm_fallback_reason\":reason}\n    return {\"local_llm_result_json\"\
          :json.dumps(out,ensure_ascii=False),\"local_llm_report_markdown\":out[\"\
          llm_report_markdown\"],\"llm_source\":\"local_llm\",\"full_llm_fallback_reason\"\
          :reason}"
        code_language: python3
        desc: ''
        outputs:
          full_llm_fallback_reason:
            type: string
          llm_source:
            type: string
          local_llm_report_markdown:
            type: string
          local_llm_result_json:
            type: string
        selected: false
        source_code: "import json\n\ndef main(llm_report_markdown: str = '', full_llm_fallback_reason:\
          \ str = '') -> dict:\n    reason=full_llm_fallback_reason or 'full_llm_disabled'\n\
          \    out={\"contract_version\":\"phone_module_jf_local_llm_result_v1\",\"\
          status\":\"ok\",\"llm_report_markdown\":llm_report_markdown or '',\"llm_source\"\
          :\"local_llm\",\"full_llm_fallback_reason\":reason}\n    return {\"local_llm_result_json\"\
          :json.dumps(out,ensure_ascii=False),\"local_llm_report_markdown\":out[\"\
          llm_report_markdown\"],\"llm_source\":\"local_llm\",\"full_llm_fallback_reason\"\
          :reason}"
        title: 代码执行_包装本地LLM报告结果
        type: code
        variables: []
      dragging: false
      height: 52
      id: local_wrap
      position:
        x: 5984.446632928624
        y: 252.0532338948932
      positionAbsolute:
        x: 5984.446632928624
        y: 252.0532338948932
      selected: false
      type: custom
      width: 242
      zIndex: 50
    viewport:
      x: -770.4707768996122
      y: 280.37131952901615
      zoom: 0.4694654630250833
  rag_pipeline_variables: []
