NL2MGQL_MULTI/dsl/NL2MGQL_MULTI.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: NL2MGQL_MULTI
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/ollama:0.0.7@8fc496b3892344da47db6125c76fc0dbfd8020753f198032751d83f561d9443e
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: 用静态 token 换动态 token 的接口
    id: 4fef4aee-cdc8-4b9c-bef8-be75bfeafa43
    name: LLM_TOKEN_URL
    selector:
    - env
    - LLM_TOKEN_URL
    value: http://oauth2-his.huawei.com/ApiCommonQuery/appToken/getRestAppDynamicToken
    value_type: string
  - description: 外部大模型 chat completions 接口
    id: aaf46df7-eda4-4af2-95a7-971629b6ebd1
    name: LLM_CHAT_URL
    selector:
    - env
    - LLM_CHAT_URL
    value: http://nginx:18080/llm-proxy/chat/completions
    value_type: string
  - description: 租户 app_id
    id: d1219080-48bb-40b2-902a-049cd1b071cc
    name: LLM_APP_ID
    selector:
    - env
    - LLM_APP_ID
    value: com.huawei.kirin.his.hulian
    value_type: string
  - description: 租户静态 token
    id: ef60ecae-37ce-45dd-8b52-a7df7400772f
    name: LLM_STATIC_TOKEN
    selector:
    - env
    - LLM_STATIC_TOKEN
    value: ''
    value_type: secret
  - description: 申请到的模型名称GLM-V5
    id: 4a0f75cc-7fcf-466f-9b3b-1f60b3b31576
    name: LLM_MODEL
    selector:
    - env
    - LLM_MODEL
    value: Qwen-V3.5-397B-A17B
    value_type: string
  - description: 用户标识
    id: f326eaab-9215-418d-ab63-28bcde87deee
    name: LLM_USER
    selector:
    - env
    - LLM_USER
    value: g30044897
    value_type: string
  - description: Authorization 前缀, 如果接口要求直接传动态 token，就留空 '', 如果接口要求 'Bearer xxxxx'，就填
      'Bearer '
    id: 542f3651-d41b-479a-974c-7044f390c8cf
    name: LLM_AUTH_PREFIX
    selector:
    - env
    - LLM_AUTH_PREFIX
    value: ' '
    value_type: string
  - description: 超时时间，单位毫秒
    id: df20a6d1-0f26-4192-9e2c-73a5fc1bdbb7
    name: LLM_TIMEOUT_MS
    selector:
    - env
    - LLM_TIMEOUT_MS
    value: 600000
    value_type: integer
  - description: 生成参数
    id: 003e61b1-0da6-480e-a06b-9e12d84210a1
    name: LLM_TEMPERATURE
    selector:
    - env
    - LLM_TEMPERATURE
    value: 0
    value_type: integer
  - description: ''
    id: a5254cee-4f24-464f-beef-6fa1a2e08741
    name: LLM_TOP_P
    selector:
    - env
    - LLM_TOP_P
    value: 1
    value_type: integer
  - description: ''
    id: d36a4797-0db7-494c-93c5-34c41d5c4545
    name: LLM_MAX_COMPLETION_TOKENS
    selector:
    - env
    - LLM_MAX_COMPLETION_TOKENS
    value: 12288
    value_type: integer
  - description: ''
    id: b3d9a608-402d-40b3-84d8-9d88b532ff8f
    name: LLM_STREAM
    selector:
    - env
    - LLM_STREAM
    value: 'false'
    value_type: string
  - description: Mongo pipeline查询接口地址列表，多个地址可用逗号或换行分隔
    id: 7642c715-0253-4e1a-b10c-2d4829ec2cb0
    name: SN_MONGODB_QUERY_URLS
    selector:
    - env
    - SN_MONGODB_QUERY_URLS
    value: http://100.105.21.157:9201/simulation/datacenter/mongo/pipeline/query
    value_type: string
  - description: 是否优先请求满血LLM。true=先请求满血LLM，失败后回退本地LLM；false=直接走本地LLM。
    id: 735d7e9e-16cf-4089-8de0-ca17b0e3c713
    name: ENABLE_FULL_LLM
    selector:
    - env
    - ENABLE_FULL_LLM
    value: 'false'
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1773909192919-source-1773975766025-target
      source: '1773909192919'
      sourceHandle: source
      target: '1773975766025'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1773975766025-source-1774083951307-target
      source: '1773975766025'
      sourceHandle: source
      target: '1774083951307'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: iteration
      id: 1774083951307-source-1775000000001-target
      source: '1774083951307'
      sourceHandle: source
      target: '1775000000001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: iteration
        targetType: code
      id: 1775000000001-source-1775000000005-target
      source: '1775000000001'
      sourceHandle: source
      target: '1775000000005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        iteration_id: '1775000000001'
        sourceType: iteration-start
        targetType: code
      id: 1775000000001start-source-1775000000002-target
      source: 1775000000001start
      sourceHandle: source
      target: '1775000000002'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1775000000001'
        sourceType: code
        targetType: knowledge-retrieval
      id: 1775000000002-source-1775000000003-target
      source: '1775000000002'
      sourceHandle: source
      target: '1775000000003'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1775000000001'
        sourceType: knowledge-retrieval
        targetType: code
      id: 1775000000003-source-1775000000004-target
      source: '1775000000003'
      sourceHandle: source
      target: '1775000000004'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1775000000010-source-1775000000011-target
      source: '1775000000010'
      sourceHandle: source
      target: '1775000000011'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1775000000013-source-1775000000007-target
      source: '1775000000013'
      sourceHandle: source
      target: '1775000000007'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1775000000005-source-1775000000014-target
      source: '1775000000005'
      sourceHandle: source
      target: '1775000000014'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: http-request
      id: 1775000000014-true-1775000000010-target
      source: '1775000000014'
      sourceHandle: 'true'
      target: '1775000000010'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1775000000014-false-1775000000018-target
      selected: false
      source: '1775000000014'
      sourceHandle: 'false'
      target: '1775000000018'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1775000000011-source-1775000000015-target
      source: '1775000000011'
      sourceHandle: source
      target: '1775000000015'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: http-request
      id: 1775000000015-true-1775000000012-target
      source: '1775000000015'
      sourceHandle: 'true'
      target: '1775000000012'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1775000000015-false-1775000000018-target
      source: '1775000000015'
      sourceHandle: 'false'
      target: '1775000000018'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1775000000012-source-1775000000016-target
      source: '1775000000012'
      sourceHandle: source
      target: '1775000000016'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1775000000016-source-1775000000017-target
      source: '1775000000016'
      sourceHandle: source
      target: '1775000000017'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: 1775000000017-true-1775000000013-target
      source: '1775000000017'
      sourceHandle: 'true'
      target: '1775000000013'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1775000000017-false-1775000000018-target
      source: '1775000000017'
      sourceHandle: 'false'
      target: '1775000000018'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1775000000018-source-1775000000019-target
      source: '1775000000018'
      sourceHandle: source
      target: '1775000000019'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1775000000019-source-1775000000013-target
      source: '1775000000019'
      sourceHandle: source
      target: '1775000000013'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1775000000007-source-1773910028939-target
      source: '1775000000007'
      sourceHandle: source
      target: '1773910028939'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: question
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: question
      height: 109
      id: '1773909192919'
      position:
        x: -80
        y: 320
      positionAbsolute:
        x: -80
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: qwen3:32b
          provider: langgenius/ollama/ollama
        prompt_template:
        - id: planner-system
          role: system
          text: '你是一个 MongoDB 查询规划器，只负责根据用户问题判断最可能对应的主 collection 和相关 collection。


            任务目标：

            - 根据用户的自然语言问题，输出查询规划结果

            - 只输出结构化 JSON

            - 不要输出解释性自然语言

            - 不要生成 AST

            - 不要生成 MongoDB 查询语句

            - 不要猜测不存在的 collection

            - 不要输出 markdown

            - 不要输出多余字段


            输入说明：

            - 用户只会提供 question

            - primary_collection 必须根据用户问题的“主业务对象”来判断

            - related_collections 只表示为了补充主查询结果而可能需要一起参与的其他 collection


            当前可选 collection 及其定义如下，必须严格以这些定义为准：


            1. orders

            Aliases: 订单, 订单表, 订单集合, 下单记录, 销售订单

            Purpose:

            - 订单主集合

            - 用于订单明细查询

            - 用于订单状态筛选

            - 用于品牌 / 省份 / 时间维度统计

            - 用于销售额聚合分析

            - 一条文档通常代表一笔订单

            关键字段：

            - order_id

            - product_name

            - brand

            - category

            - province

            - status

            - payment_status

            - amount

            - quantity

            - created_at

            典型问题：

            - 近30天已支付订单有多少

            - 各品牌销售额 Top10

            - 最近7天每天订单数趋势

            - 按省份统计订单量

            - 某个订单号的订单详情

            - 近30天手机类目销量最高的品牌


            2. products

            Aliases: 商品, 商品表, 商品集合, SKU主数据, 商品主数据

            Purpose:

            - 商品主数据集合

            - 用于商品基础信息查询

            - 用于品牌 / 类目 / 价格维度统计

            - 用于上架状态分析

            - 一条文档通常代表一个商品或 SKU 主体

            关键字段：

            - product_id

            - sku_id

            - spu_id

            - product_name

            - brand

            - category

            - status

            - price

            - stock

            - created_at

            典型问题：

            - 华为品牌有哪些商品

            - 最近30天新建的商品最近20条

            - 各品牌商品数 Top10

            - 手机类目平均价格是多少

            - 当前在售商品中价格最高的前20个商品

            - 某个 SKU 的商品详情


            primary_collection 规则：

            - 订单交易、订单数、销量、销售额、GMV、时间趋势、支付情况 => orders

            - 商品详情、SKU/SPU、商品价格、库存、上架状态、商品清单 => products


            related_collections 规则：

            - 只有明确需要补充另一张表信息时才返回

            - 不要包含 primary_collection 本身

            - 最多返回 3 个



            输出要求：

            - 严格按 JSON Schema 输出

            - 不要输出 markdown

            - 不要输出多余字段

            - confidence 取值 0 到 1

            - reason 保持一句话


            强制示例：

            1) 近30天各品牌销售额 Top10

            - primary_collection = orders

            - related_collections = []


            2) 华为品牌有哪些商品

            - primary_collection = products

            - related_collections = []


            3) 近30天已支付订单中，各品牌销售额前10的所有 product 信息

            - primary_collection = orders

            - related_collections = ["products"]

            '
        - id: planner-user
          role: user
          text: 用户问题:{{#1773909192919.question#}}
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              confidence:
                description: 判断置信度，范围 0 到 1
                maximum: 1
                minimum: 0
                type: number
              primary_collection:
                description: 主业务对象对应的主 collection
                enum:
                - orders
                - products
                - unknown
                type: string
              reason:
                description: 简短说明判断依据，控制在一句话内
                type: string
              related_collections:
                description: 可能需要补充参与的其他 collection
                items:
                  enum:
                  - orders
                  - products
                  type: string
                maxItems: 3
                type: array
                uniqueItems: true
            required:
            - primary_collection
            - related_collections
            - confidence
            - reason
            type: object
        structured_output_enabled: true
        title: LLM_查询规划
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1773975766025'
      position:
        x: 240
        y: 320
      positionAbsolute:
        x: 240
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(question: str, planner):\n    if isinstance(planner,\
          \ str):\n        planner = json.loads(planner)\n\n    primary = str((planner\
          \ or {}).get(\"primary_collection\") or \"\").strip()\n    related = (planner\
          \ or {}).get(\"related_collections\") or []\n\n    ordered = []\n    seen\
          \ = set()\n    for item in [primary] + list(related):\n        name = str(item\
          \ or \"\").strip()\n        if not name or name == \"unknown\" or name in\
          \ seen:\n            continue\n        seen.add(name)\n        ordered.append(name)\n\
          \n    collection_tasks = []\n    for name in ordered:\n        role = \"\
          primary\" if name == primary else \"related\"\n        query_text = (\n\
          \            f\"用户问题: {question}\\n\"\n            f\"当前目标 collection: {name}\\\
          n\"\n            \"请检索该 collection 的 schema、字段含义、典型过滤字段、聚合指标、\"\n      \
          \      \"与其他 collection 的关联线索、以及任何能帮助生成 Mongo 聚合 AST 的信息。\"\n        )\n\
          \        collection_tasks.append({\n            \"collection_name\": name,\n\
          \            \"role\": role,\n            \"query_text\": query_text\n \
          \       })\n\n    return {\n        \"result\": ordered,\n        \"collection_tasks\"\
          : collection_tasks,\n        \"planner_json\": json.dumps(planner, ensure_ascii=False,\
          \ indent=2)\n    }\n"
        code_language: python3
        desc: 构建待检索的 collection 任务
        outputs:
          collection_tasks:
            children: null
            type: array[object]
          planner_json:
            children: null
            type: string
          result:
            children: null
            type: array[string]
        selected: false
        title: 代码执行_构建检索任务
        type: code
        variables:
        - value_selector:
          - '1773909192919'
          - question
          value_type: string
          variable: question
        - value_selector:
          - '1773975766025'
          - structured_output
          value_type: object
          variable: planner
      height: 80
      id: '1774083951307'
      position:
        x: 561.0104777110068
        y: 320
      positionAbsolute:
        x: 561.0104777110068
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        error_handle_mode: terminated
        height: 360
        is_parallel: false
        iterator_selector:
        - '1774083951307'
        - collection_tasks
        output_selector:
        - '1775000000004'
        - output
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: 1775000000001start
        title: 遍历Collections检索Schema
        type: iteration
        width: 980
      height: 360
      id: '1775000000001'
      position:
        x: 892.8392659156048
        y: 320
      positionAbsolute:
        x: 892.8392659156048
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 980
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1775000000001start
      parentId: '1775000000001'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 916.8392659156048
        y: 388
      selectable: false
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        code: "import json\n\ndef main(item):\n    data = item\n    if isinstance(data,\
          \ str):\n        data = json.loads(data)\n\n    collection_name = str((data\
          \ or {}).get(\"collection_name\") or \"\").strip()\n    role = str((data\
          \ or {}).get(\"role\") or \"\").strip()\n    query_text = str((data or {}).get(\"\
          query_text\") or \"\").strip()\n\n    return {\n        \"collection_name\"\
          : collection_name,\n        \"role\": role,\n        \"query_text\": query_text\n\
          \    }\n"
        code_language: python3
        desc: ''
        isInIteration: true
        isIterationStart: true
        iteration_id: '1775000000001'
        outputs:
          collection_name:
            children: null
            type: string
          query_text:
            children: null
            type: string
          role:
            children: null
            type: string
        selected: false
        title: 代码执行_解析当前任务
        type: code
        variables:
        - value_selector:
          - '1775000000001'
          - item
          variable: item
      height: 52
      id: '1775000000002'
      parentId: '1775000000001'
      position:
        x: 96
        y: 64
      positionAbsolute:
        x: 988.8392659156048
        y: 384
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1001
    - data:
        dataset_ids:
        - 0OdfgQwiFIhBWBQxkU3dhtU81pF47D5V6/PvINzuWaJ8lrsOg0djEJ681QBuKH6L
        - 2yAml6vKHAOyhWBTqUBsiuiHGiDHa65ruznXVNKrIR+e9yEqsALBCSQ93zS6fH2Z
        isInIteration: true
        iteration_id: '1775000000001'
        metadata_filtering_conditions:
          conditions:
          - comparison_operator: is
            id: ca7255e8-5829-4063-9def-1e9ec392f49b
            metadata_id: 34d022dc-aecc-49cb-b900-0fe9244f3377
            name: collection_name
            value: '{{#1775000000002.collection_name#}}'
          logical_operator: and
        metadata_filtering_mode: manual
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: nomic-embed-text:v1.5
              embedding_provider_name: langgenius/ollama/ollama
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1775000000002'
        - query_text
        retrieval_mode: multiple
        selected: false
        title: 知识检索_当前CollectionSchema
        type: knowledge-retrieval
      height: 90
      id: '1775000000003'
      parentId: '1775000000001'
      position:
        x: 365.9999999999998
        y: 65
      positionAbsolute:
        x: 1258.8392659156045
        y: 385
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "import json\n\ndef main(collection_name: str, role: str, docs):\n \
          \   docs = docs or []\n    parts = []\n    for idx, item in enumerate(docs):\n\
          \        title = str((item or {}).get(\"title\") or \"\").strip()\n    \
          \    content = str((item or {}).get(\"content\") or \"\").strip()\n    \
          \    metadata = (item or {}).get(\"metadata\") or {}\n        score = metadata.get(\"\
          score\", \"\")\n        chunk = f\"[{idx+1}] title={title} score={score}\\\
          n{content}\".strip()\n        if chunk:\n            parts.append(chunk)\n\
          \n    payload = {\n        \"collection_name\": collection_name,\n     \
          \   \"role\": role,\n        \"context_text\": \"\\n\\n\".join(parts)\n\
          \    }\n\n    return {\n        \"output\": json.dumps(payload, ensure_ascii=False)\n\
          \    }\n"
        code_language: python3
        desc: ''
        isInIteration: true
        iteration_id: '1775000000001'
        outputs:
          output:
            children: null
            type: string
        selected: false
        title: 代码执行_打包Schema结果
        type: code
        variables:
        - value_selector:
          - '1775000000002'
          - collection_name
          value_type: string
          variable: collection_name
        - value_selector:
          - '1775000000002'
          - role
          value_type: string
          variable: role
        - value_selector:
          - '1775000000003'
          - result
          value_type: array[object]
          variable: docs
      height: 52
      id: '1775000000004'
      parentId: '1775000000001'
      position:
        x: 690
        y: 64
      positionAbsolute:
        x: 1582.8392659156048
        y: 384
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "import base64\nimport json\nimport uuid\n\nSEMANTIC_PLAN_SYSTEM_PROMPT\
          \ = '你是一个 MongoDB 查询执行计划生成器。\\n\\n你的任务是：\\n- 基于用户问题、查询规划 JSON、schema 检索结果，生成一个“可执行的语义计划（semantic\
          \ execution plan）”\\n- 不要直接生成 MongoDB pipeline\\n- 不要直接生成旧版单 AST\\n- 只输出结构化\
          \ JSON\\n- 不要输出解释性文字\\n- 不要输出 markdown\\n- 不要输出 schema 摘要\\n\\n目标：\\n- 让后续代码节点可以根据该计划，稳定编译为单阶段或两阶段查询\\\
          n- 保持灵活，兼容不同问法\\n- 避免把 products / product_name / 第二阶段 enrich 之类逻辑写死在 DSL\
          \ 中\\n\\n总原则：\\n1. primary_collection 必须等于 planner_json.primary_collection。\\\
          n2. 只能使用 planner_json 或 schema_context 中明确出现过的 collection 和 field。\\n3.\
          \ execution_mode 只能是：\\n   - single_stage：一个阶段就能回答\\n   - multi_stage：需要第一阶段先选出实体/键，第二阶段再\
          \ enrich\\n4. stages 最多 2 个：\\n   - stage1 必须先解决主问题\\n   - stage2 只在确实需要\
          \ related 明细且 schema 关系明确时才生成\\n5. 不要发明关联字段，不要发明 collection。\\n6. 默认不生成链式多跳关联。\\\
          n\\n什么时候优先 single_stage：\\n- 纯明细查询\\n- 纯聚合统计\\n- 只查 primary_collection 就足够\\\
          n\\n什么时候优先 multi_stage：\\n- 用户既要“按组挑出代表实体”，又要“补 related 主数据/详情”\\n- 直接在一个聚合\
          \ AST 中会出现粒度冲突\\n- 典型情况：\\n  - 每个品牌销售额最高的产品信息\\n  - 每个品牌金额最高的订单及其产品信息\\\
          n  - 先选 top1/topN 实体，再去 related collection enrich\\n\\nstage.intent_type\
          \ 定义：\\n1. detail_query\\n   - 普通明细查询\\n   - 直接在一个 collection 上过滤、排序、投影、limit\\\
          n2. aggregate_summary\\n   - 普通聚合汇总\\n   - 按 group_fields 聚合 metric，然后排序/limit\\\
          n3. group_top_entity\\n   - 先按 group_fields + entity_field 聚合 metric\\n\
          \   - 再在每个 group 内取 top1/topN entity\\n   - 适合“每个品牌销售额最高的产品”\\n4. group_top_record\\\
          n   - 先按 group_fields 分组\\n   - 再在每个 group 内按某个排序字段取 top1/topN 原始记录\\n \
          \  - 适合“每个品牌金额最高的订单”\\n5. enrich_related\\n   - 第二阶段 enrich\\n   - 使用 stage1\
          \ 输出中的 join_source_field 去匹配当前 collection 的 join_target_field\\n\\ngroup_top\
          \ 语义规则：\\n1. 对于 group_top_entity / group_top_record：rank_n 只表示“每个 group\
          \ 取前 N 条”。\\n2. 如果用户没有明确要求“全局前 N 个 group / 全局只返回 1 个品牌 / topN groups”，stage.limit\
          \ 必须设置为 0。\\n3. 不要把 rank_n = 1 误写成 stage.limit = 1。\\n4. “各品牌销售第一的产品信息”应返回多个品牌，每个品牌\
          \ 1 条，而不是全局只返回 1 条。\\n5. 只有用户明确要求“销售额前10个品牌中的第一产品”这类全局裁切时，才允许 stage.limit\
          \ > 0。\\n\\n关联键规则：\\n1. 不要把任何固定字段当作通用回退关联键，包括 product_name。\\n2. stage2.join_source_field\
          \ / stage2.join_target_field 必须基于：\\n   - 用户问题语义\\n   - schema_context 中的\
          \ relation hints / preferred_keys / notes\\n   - stage1 实际产出的字段\\n   显式解析出来。\\\
          n3. 如果 schema_context 不能支撑稳定关联，就不要生成 stage2 enrich。\\n4. 对于非 enrich stage：join_target_field\
          \ 和 attach_as 应保持空字符串，不要作为 stage1/stageX 的语义字段保留。\\n5. 只有 enrich_related\
          \ 阶段才保留 join_target_field 和 attach_as。\\n\\n字段规则：\\n1. collection 必须来自 schema_context。\\\
          n2. filters 只写当前 stage.collection 的字段。\\n3. time_range 只写当前 stage.collection\
          \ 的时间条件。\\n4. projection_fields 只写当前 stage.collection 最终要保留的字段。\\n5. projection_mode：\\\
          n   - none：不强调 projection\\n   - explicit：明确列出 projection_fields\\n   -\
          \ all_returnable：表示当前 stage.collection 应尽量返回 schema_context 中 returnable\
          \ = true 且 sensitive != true 的字段\\n6. 对于 sensitive = true 或 returnable =\
          \ false 的字段，不要放入 projection_fields，除非 schema_context 明确允许。\\n\\nmulti_stage\
          \ 规则：\\n1. stage1 必须能产出 stage2 需要的 join_source_field。\\n2. stage2.intent_type\
          \ 必须是 enrich_related。\\n3. stage2.depends_on 必须指向 stage1.stage_name。\\n4.\
          \ final_merge.merge_mode 在 multi_stage 时通常为 left_join。\\n5. final_merge.left_field\
          \ / right_field 必须与 stage1 / stage2 的 join 字段一致。\\n6. attach_as 必须是一个明确字段名，例如\
          \ product_info。\\n\\n时间规则：\\n1. 当用户问题出现“近N天”“最近N天”“过去N天”“last N days”时：\\\
          n   - time_range.mode 必须为 relative_days\\n   - time_range.relative_days\
          \ = N\\n   - 不要再把同一时间条件重复写进 filters\\n2. 没有时间条件时：\\n   - time_range.mode\
          \ = none\\n3. 只有用户明确给出绝对日期区间时，才使用 absolute。\\n\\n输出要求：\\n- 只输出合法 JSON\\\
          n- 不要输出多余字段\\n- 所有字段类型必须严格匹配 JSON schema\\n- 不要输出 null，能用空字符串、空数组、默认值表达的就不要用\
          \ null\\n\\n强制示例 1：\\n用户问题：过去30天各个品牌销售额最高的产品信息\\n输出思路：\\n- execution_mode\
          \ = multi_stage\\n- stage1.collection = orders\\n- stage1.intent_type =\
          \ group_top_entity\\n- stage1.group_fields = [\"brand\"]\\n- stage1.entity_field\
          \ = \"product_name\"\\n- stage1.metric_function = \"sum\"\\n- stage1.metric_field\
          \ = \"amount\"\\n- stage1.metric_alias = \"product_gmv\"\\n- stage1.projection_fields\
          \ 至少包含 [\"brand\", \"product_name\", \"product_gmv\"]\\n- stage1.limit =\
          \ 0 （不要把每品牌top1误裁成全局1条）\\n- stage1.join_target_field = \"\"\\n- stage1.attach_as\
          \ = \"\"\\n- stage2.collection = products\\n- stage2.intent_type = enrich_related\\\
          n- stage2.join_source_field / join_target_field 需要根据 schema relation hints\
          \ 解析；在当前 schema 下可解析为 product_name -> product_name\\n- stage2.projection_mode\
          \ = all_returnable\\n- final_merge.attach_as = \"product_info\"\\n\\n强制示例\
          \ 2：\\n用户问题：近30天各品牌金额最高的订单及其产品信息\\n输出思路：\\n- execution_mode = multi_stage\\\
          n- stage1.collection = orders\\n- stage1.intent_type = group_top_record\\\
          n- stage1.group_fields = [\"brand\"]\\n- stage1.rank_order_field = \"amount\"\
          \\n- stage1.rank_direction = \"desc\"\\n- stage1.projection_fields 至少包含\
          \ [\"brand\", \"order_id\", \"product_name\", \"amount\", \"created_at\"\
          ]\\n- stage1.limit = 0 （不要把每品牌top1误裁成全局1条）\\n- stage1.join_target_field\
          \ = \"\"\\n- stage1.attach_as = \"\"\\n- stage2.collection = products\\\
          n- stage2.intent_type = enrich_related\\n- stage2.join_source_field / join_target_field\
          \ 需要根据 schema relation hints 解析；在当前 schema 下可解析为 product_name -> product_name\\\
          n- stage2.projection_mode = all_returnable\\n- final_merge.attach_as = \"\
          product_info\"'\nSEMANTIC_PLAN_JSON_SCHEMA_JSON = '{\"additionalProperties\"\
          :false,\"properties\":{\"execution_mode\":{\"enum\":[\"single_stage\",\"\
          multi_stage\"],\"type\":\"string\"},\"primary_collection\":{\"minLength\"\
          :1,\"type\":\"string\"},\"collections\":{\"type\":\"array\",\"uniqueItems\"\
          :true,\"items\":{\"minLength\":1,\"type\":\"string\"}},\"reasoning\":{\"\
          minLength\":1,\"type\":\"string\"},\"stages\":{\"type\":\"array\",\"minItems\"\
          :1,\"maxItems\":2,\"items\":{\"additionalProperties\":false,\"properties\"\
          :{\"stage_name\":{\"minLength\":1,\"type\":\"string\"},\"collection\":{\"\
          minLength\":1,\"type\":\"string\"},\"depends_on\":{\"type\":\"string\"},\"\
          intent_type\":{\"enum\":[\"detail_query\",\"aggregate_summary\",\"group_top_entity\"\
          ,\"group_top_record\",\"enrich_related\"],\"type\":\"string\"},\"filters\"\
          :{\"type\":\"array\",\"items\":{\"additionalProperties\":false,\"properties\"\
          :{\"field\":{\"minLength\":1,\"type\":\"string\"},\"operator\":{\"enum\"\
          :[\"eq\",\"in\",\"gt\",\"gte\",\"lt\",\"lte\",\"regex\"],\"type\":\"string\"\
          },\"value\":{\"oneOf\":[{\"type\":\"string\"},{\"type\":\"number\"},{\"\
          type\":\"integer\"},{\"type\":\"boolean\"},{\"type\":\"array\",\"items\"\
          :{\"oneOf\":[{\"type\":\"string\"},{\"type\":\"number\"},{\"type\":\"integer\"\
          },{\"type\":\"boolean\"}]}}]}},\"required\":[\"field\",\"operator\",\"value\"\
          ],\"type\":\"object\"}},\"time_range\":{\"additionalProperties\":false,\"\
          properties\":{\"field\":{\"type\":\"string\"},\"mode\":{\"enum\":[\"none\"\
          ,\"relative_days\",\"absolute\"],\"type\":\"string\"},\"relative_days\"\
          :{\"minimum\":0,\"type\":\"integer\"},\"start\":{\"type\":\"string\"},\"\
          end\":{\"type\":\"string\"}},\"required\":[\"field\",\"mode\",\"relative_days\"\
          ,\"start\",\"end\"],\"type\":\"object\"},\"group_fields\":{\"type\":\"array\"\
          ,\"items\":{\"minLength\":1,\"type\":\"string\"}},\"entity_field\":{\"type\"\
          :\"string\"},\"metric_function\":{\"enum\":[\"\",\"count\",\"sum\",\"avg\"\
          ,\"max\",\"min\"],\"type\":\"string\"},\"metric_field\":{\"type\":\"string\"\
          },\"metric_alias\":{\"type\":\"string\"},\"rank_n\":{\"minimum\":0,\"maximum\"\
          :200,\"type\":\"integer\"},\"rank_order_field\":{\"type\":\"string\"},\"\
          rank_direction\":{\"enum\":[\"\",\"asc\",\"desc\"],\"type\":\"string\"},\"\
          sort\":{\"type\":\"array\",\"items\":{\"additionalProperties\":false,\"\
          properties\":{\"field\":{\"minLength\":1,\"type\":\"string\"},\"direction\"\
          :{\"enum\":[\"asc\",\"desc\"],\"type\":\"string\"}},\"required\":[\"field\"\
          ,\"direction\"],\"type\":\"object\"}},\"limit\":{\"minimum\":0,\"maximum\"\
          :200,\"type\":\"integer\"},\"projection_mode\":{\"enum\":[\"none\",\"explicit\"\
          ,\"all_returnable\"],\"type\":\"string\"},\"projection_fields\":{\"type\"\
          :\"array\",\"items\":{\"minLength\":1,\"type\":\"string\"}},\"join_source_field\"\
          :{\"type\":\"string\"},\"join_target_field\":{\"type\":\"string\"},\"attach_as\"\
          :{\"type\":\"string\"}},\"required\":[\"stage_name\",\"collection\",\"depends_on\"\
          ,\"intent_type\",\"filters\",\"time_range\",\"group_fields\",\"entity_field\"\
          ,\"metric_function\",\"metric_field\",\"metric_alias\",\"rank_n\",\"rank_order_field\"\
          ,\"rank_direction\",\"sort\",\"limit\",\"projection_mode\",\"projection_fields\"\
          ,\"join_source_field\",\"join_target_field\",\"attach_as\"],\"type\":\"\
          object\"}},\"final_merge\":{\"additionalProperties\":false,\"properties\"\
          :{\"merge_mode\":{\"enum\":[\"none\",\"left_join\"],\"type\":\"string\"\
          },\"left_stage\":{\"type\":\"string\"},\"right_stage\":{\"type\":\"string\"\
          },\"left_field\":{\"type\":\"string\"},\"right_field\":{\"type\":\"string\"\
          },\"attach_as\":{\"type\":\"string\"}},\"required\":[\"merge_mode\",\"left_stage\"\
          ,\"right_stage\",\"left_field\",\"right_field\",\"attach_as\"],\"type\"\
          :\"object\"}},\"required\":[\"execution_mode\",\"primary_collection\",\"\
          collections\",\"stages\",\"final_merge\",\"reasoning\"],\"type\":\"object\"\
          }'\n\n\ndef _to_bool(value):\n    if isinstance(value, bool):\n        return\
          \ value\n    text = str(value or \"\").strip().lower()\n    return text\
          \ in {\"1\", \"true\", \"yes\", \"y\", \"on\"}\n\n\ndef _to_int(value, default):\n\
          \    try:\n        return int(value)\n    except Exception:\n        return\
          \ int(default)\n\n\ndef main(\n    arg1: list,\n    arg2: str,\n    arg3:\
          \ str,\n    llm_token_url: str,\n    llm_chat_url: str,\n    llm_app_id:\
          \ str,\n    llm_static_token: str,\n    llm_model: str,\n    llm_user: str,\n\
          \    llm_auth_prefix: str,\n    llm_timeout_ms,\n    llm_temperature,\n\
          \    llm_top_p,\n    llm_max_completion_tokens,\n    llm_stream,\n):\n \
          \   planner = json.loads(arg2) if isinstance(arg2, str) else (arg2 or {})\n\
          \    sections = []\n\n    for raw in (arg1 or []):\n        item = json.loads(raw)\
          \ if isinstance(raw, str) else (raw or {})\n        collection_name = str(item.get(\"\
          collection_name\") or \"\").strip()\n        role = str(item.get(\"role\"\
          ) or \"\").strip()\n        context_text = str(item.get(\"context_text\"\
          ) or \"\").strip()\n        sections.append(\n            f\"## collection={collection_name}\\\
          n\"\n            f\"role={role}\\n\"\n            f\"{context_text}\"\n\
          \        )\n    planner_json = json.dumps(planner, ensure_ascii=False, indent=2)\n\
          \    schema_context = (\n        f\"### 用户问题\\n{arg3}\\n\\n\"\n        f\"\
          ### 查询规划JSON\\n{planner_json}\\n\\n\"\n        f\"### schema检索结果\\n\" +\
          \ \"\\n\\n\".join(sections)\n    )\n    semantic_plan_user_prompt = f\"\
          用户问题:\\n{arg3}\\n\\nSchema上下文:\\n{schema_context}\"\n    llm_config = {\n\
          \        \"tokenUrl\": str(llm_token_url or \"\").strip(),\n        \"chatUrl\"\
          : str(llm_chat_url or \"\").strip(),\n        \"appId\": str(llm_app_id\
          \ or \"\").strip(),\n        \"staticToken\": str(llm_static_token or \"\
          \"),\n        \"model\": str(llm_model or \"\").strip(),\n        \"user\"\
          : str(llm_user or \"\").strip(),\n        \"authorization-prefix\": str(llm_auth_prefix\
          \ or \"\"),\n        \"timeout-millis\": _to_int(llm_timeout_ms, 600000),\n\
          \        \"temperature\": llm_temperature if llm_temperature is not None\
          \ else 0,\n        \"top_p\": llm_top_p if llm_top_p is not None else 1,\n\
          \        \"max_completion_tokens\": _to_int(llm_max_completion_tokens, 12288),\n\
          \        \"stream\": _to_bool(llm_stream),\n    }\n\n    if not llm_config[\"\
          tokenUrl\"]:\n        raise ValueError(\"LLM_TOKEN_URL is required\")\n\
          \    if not llm_config[\"chatUrl\"]:\n        raise ValueError(\"LLM_CHAT_URL\
          \ is required\")\n    if not llm_config[\"appId\"]:\n        raise ValueError(\"\
          LLM_APP_ID is required\")\n    if not llm_config[\"staticToken\"]:\n   \
          \     raise ValueError(\"LLM_STATIC_TOKEN is required\")\n    if not llm_config[\"\
          model\"]:\n        raise ValueError(\"LLM_MODEL is required\")\n\n    token_request_body\
          \ = {\n        \"appId\": llm_config[\"appId\"],\n        \"credential\"\
          : base64.b64encode(str(llm_config.get(\"staticToken\") or \"\").encode(\"\
          utf-8\")).decode(\"utf-8\"),\n    }\n\n    return {\n        \"schema_context\"\
          : schema_context,\n        \"planner_json\": planner_json,\n        \"semantic_plan_system_prompt\"\
          : SEMANTIC_PLAN_SYSTEM_PROMPT,\n        \"semantic_plan_user_prompt\": semantic_plan_user_prompt,\n\
          \        \"semantic_plan_json_schema\": SEMANTIC_PLAN_JSON_SCHEMA_JSON,\n\
          \        \"token_url\": llm_config[\"tokenUrl\"],\n        \"chat_url\"\
          : llm_config[\"chatUrl\"],\n        \"llm_config_json\": json.dumps(llm_config,\
          \ ensure_ascii=False),\n        \"token_request_body_json\": json.dumps(token_request_body,\
          \ ensure_ascii=False),\n        \"request_id\": f\"llm_{uuid.uuid4().hex}\"\
          ,\n    }"
        code_language: python3
        desc: 汇总Schema上下文，准备语义计划提示词与内部LLM调用请求
        outputs:
          chat_url:
            children: null
            type: string
          llm_config_json:
            children: null
            type: string
          planner_json:
            children: null
            type: string
          request_id:
            children: null
            type: string
          schema_context:
            children: null
            type: string
          semantic_plan_json_schema:
            children: null
            type: string
          semantic_plan_system_prompt:
            children: null
            type: string
          semantic_plan_user_prompt:
            children: null
            type: string
          token_request_body_json:
            children: null
            type: string
          token_url:
            children: null
            type: string
        selected: false
        title: 代码执行_合并Schema上下文并准备语义计划提示词
        type: code
        variables:
        - value_selector:
          - '1775000000001'
          - output
          value_type: array[string]
          variable: arg1
        - value_selector:
          - '1774083951307'
          - planner_json
          value_type: string
          variable: arg2
        - value_selector:
          - '1773909192919'
          - question
          value_type: string
          variable: arg3
        - value_selector:
          - env
          - LLM_TOKEN_URL
          value_type: string
          variable: llm_token_url
        - value_selector:
          - env
          - LLM_CHAT_URL
          value_type: string
          variable: llm_chat_url
        - value_selector:
          - env
          - LLM_APP_ID
          value_type: string
          variable: llm_app_id
        - value_selector:
          - env
          - LLM_STATIC_TOKEN
          value_type: string
          variable: llm_static_token
        - value_selector:
          - env
          - LLM_MODEL
          value_type: string
          variable: llm_model
        - value_selector:
          - env
          - LLM_USER
          value_type: string
          variable: llm_user
        - value_selector:
          - env
          - LLM_AUTH_PREFIX
          value_type: string
          variable: llm_auth_prefix
        - value_selector:
          - env
          - LLM_TIMEOUT_MS
          value_type: number
          variable: llm_timeout_ms
        - value_selector:
          - env
          - LLM_TEMPERATURE
          value_type: number
          variable: llm_temperature
        - value_selector:
          - env
          - LLM_TOP_P
          value_type: number
          variable: llm_top_p
        - value_selector:
          - env
          - LLM_MAX_COMPLETION_TOKENS
          value_type: number
          variable: llm_max_completion_tokens
        - value_selector:
          - env
          - LLM_STREAM
          value_type: string
          variable: llm_stream
      height: 96
      id: '1775000000005'
      position:
        x: 1911.0104777110073
        y: 320
      positionAbsolute:
        x: 1911.0104777110073
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nimport json\nimport random\nimport re\nimport ssl\nimport urllib.error\n\
          import urllib.request\nimport uuid\nfrom datetime import datetime, timedelta,\
          \ timezone\n\nSGT = timezone(timedelta(hours=8))\nDEFAULT_TIMEOUT_SECONDS\
          \ = 600\n\n\ndef _read_json_text(value):\n    if value is None:\n      \
          \  return None\n    if isinstance(value, (dict, list)):\n        return\
          \ value\n    raw = str(value).strip()\n    if not raw:\n        return None\n\
          \    return json.loads(raw)\n\n\ndef _ensure_obj(value, name):\n    obj\
          \ = _read_json_text(value)\n    if obj is None:\n        return {}\n   \
          \ if not isinstance(obj, dict):\n        raise ValueError(f'{name} must\
          \ be a JSON object')\n    return obj\n\n\ndef _ensure_non_empty_string(value,\
          \ name):\n    text = str(value or '').strip()\n    if not text:\n      \
          \  raise ValueError(f'{name} is required')\n    return text\n\n\ndef _ensure_string_list(value,\
          \ name):\n    if value is None:\n        return []\n    if not isinstance(value,\
          \ list):\n        raise ValueError(f'{name} must be an array')\n    result\
          \ = []\n    for idx, item in enumerate(value):\n        text = str(item\
          \ or '').strip()\n        if not text:\n            raise ValueError(f'{name}[{idx}]\
          \ must be a non-empty string')\n        result.append(text)\n    return\
          \ result\n\n\ndef _parse_scalar(value):\n    if value is None:\n       \
          \ return None\n    if isinstance(value, (int, float, bool, list)):\n   \
          \     return value\n    text = str(value).strip()\n    if text.lower() ==\
          \ 'true':\n        return True\n    if text.lower() == 'false':\n      \
          \  return False\n    if re.fullmatch(r'-?\\d+', text):\n        return int(text)\n\
          \    if re.fullmatch(r'-?\\d+\\.\\d+', text):\n        return float(text)\n\
          \    return text\n\n\ndef _parse_query_urls(raw_value):\n    text = str(raw_value\
          \ or '').strip()\n    if not text:\n        return []\n    parts = []\n\
          \    for chunk in text.replace('\\r', '\\n').split('\\n'):\n        for\
          \ item in chunk.split(','):\n            url = str(item or '').strip()\n\
          \            if url:\n                parts.append(url)\n    return parts\n\
          \n\ndef _build_match_expr(path, operator, value):\n    parsed = _parse_scalar(value)\n\
          \    if operator == 'eq':\n        return {path: parsed}\n    if operator\
          \ == 'in':\n        values = parsed if isinstance(parsed, list) else [parsed]\n\
          \        return {path: {'$in': values}}\n    mongo_op = {'gt': '$gt', 'gte':\
          \ '$gte', 'lt': '$lt', 'lte': '$lte', 'regex': '$regex'}.get(operator)\n\
          \    if not mongo_op:\n        raise ValueError(f'unsupported operator:\
          \ {operator}')\n    return {path: {mongo_op: parsed}}\n\n\ndef _merge_match(parts):\n\
          \    parts = [p for p in parts if p]\n    if not parts:\n        return\
          \ None\n    if len(parts) == 1:\n        return parts[0]\n    return {'$and':\
          \ parts}\n\n\ndef _extract_returnable_fields(schema_context, collection_name):\n\
          \    text = str(schema_context or '')\n    pattern = rf'## collection={re.escape(collection_name)}\\\
          n.*?(?=(\\n## collection=|\\Z))'\n    m = re.search(pattern, text, flags=re.DOTALL)\n\
          \    section = m.group(0) if m else ''\n    if not section:\n        return\
          \ []\n    lines = section.splitlines()\n    fields = []\n    i = 0\n   \
          \ name_re = re.compile(r'^[A-Za-z_][A-Za-z0-9_]*$')\n    while i < len(lines):\n\
          \        line = lines[i].strip()\n        next_line = lines[i + 1].strip()\
          \ if i + 1 < len(lines) else ''\n        if name_re.fullmatch(line) and\
          \ next_line.startswith('- type:'):\n            field_name = line\n    \
          \        block = []\n            j = i + 1\n            while j < len(lines):\n\
          \                cur = lines[j].strip()\n                nxt = lines[j +\
          \ 1].strip() if j + 1 < len(lines) else ''\n                if j > i + 1\
          \ and cur and name_re.fullmatch(cur) and nxt.startswith('- type:'):\n  \
          \                  break\n                if cur.startswith('## collection='):\n\
          \                    break\n                block.append(cur)\n        \
          \        j += 1\n            block_text = '\\n'.join(block)\n          \
          \  if 'returnable: true' in block_text and 'sensitive: true' not in block_text:\n\
          \                fields.append(field_name)\n            i = j\n        \
          \    continue\n        i += 1\n    return fields\n\n\ndef _normalize_time_range(value,\
          \ collection_name, default_field='created_at'):\n    if not isinstance(value,\
          \ dict):\n        return {\n            'collection': collection_name,\n\
          \            'field': default_field,\n            'mode': 'none',\n    \
          \        'relative_days': 0,\n            'start': '',\n            'end':\
          \ '',\n        }\n    mode = str(value.get('mode') or 'none').strip() or\
          \ 'none'\n    return {\n        'collection': collection_name,\n       \
          \ 'field': str(value.get('field') or default_field).strip() or default_field,\n\
          \        'mode': mode,\n        'relative_days': int(value.get('relative_days')\
          \ or 0),\n        'start': str(value.get('start') or '').strip(),\n    \
          \    'end': str(value.get('end') or '').strip(),\n    }\n\n\ndef _apply_time_range(time_range):\n\
          \    mode = str((time_range or {}).get('mode') or 'none').strip()\n    if\
          \ mode == 'none':\n        return None\n    field = str((time_range or {}).get('field')\
          \ or 'created_at').strip() or 'created_at'\n    if mode == 'relative_days':\n\
          \        days = int((time_range or {}).get('relative_days') or 0)\n    \
          \    start_dt = datetime.now(SGT) - timedelta(days=days)\n        return\
          \ {field: {'$gte': start_dt.isoformat()}}\n    if mode == 'absolute':\n\
          \        cond = {}\n        start = str((time_range or {}).get('start')\
          \ or '').strip()\n        end = str((time_range or {}).get('end') or '').strip()\n\
          \        if start:\n            cond['$gte'] = start\n        if end:\n\
          \            cond['$lte'] = end\n        return {field: cond} if cond else\
          \ None\n    raise ValueError(f'unsupported time_range.mode: {mode}')\n\n\
          \ndef _find_best_rows(obj):\n    best = []\n    best_score = -1\n    def\
          \ score_rows(rows):\n        if not isinstance(rows, list) or not rows:\n\
          \            return -1\n        if not all(isinstance(item, dict) for item\
          \ in rows):\n            return -1\n        keys = set()\n        for item\
          \ in rows[:5]:\n            keys.update(item.keys())\n        score = len(rows)\n\
          \        for key in ('product_name', 'order_id', 'brand', 'amount', 'total_sales',\
          \ 'product_gmv', 'sku_id', 'price'):\n            if key in keys:\n    \
          \            score += 4\n        return score\n    def visit(node):\n  \
          \      nonlocal best, best_score\n        if isinstance(node, list):\n \
          \           s = score_rows(node)\n            if s > best_score:\n     \
          \           best, best_score = node, s\n            for item in node:\n\
          \                visit(item)\n        elif isinstance(node, dict):\n   \
          \         for key in ('rows', 'items', 'list', 'records', 'data', 'result',\
          \ 'docs'):\n                if key in node:\n                    visit(node.get(key))\n\
          \            for value in node.values():\n                visit(value)\n\
          \    visit(obj)\n    return best\n\n\ndef _unique_values(rows, field):\n\
          \    values = []\n    seen = set()\n    for row in rows or []:\n       \
          \ if not isinstance(row, dict):\n            continue\n        value = row.get(field)\n\
          \        if isinstance(value, list):\n            for item in value:\n \
          \               text = str(item or '').strip()\n                if text\
          \ and text not in seen:\n                    seen.add(text)\n          \
          \          values.append(text)\n        else:\n            text = str(value\
          \ or '').strip()\n            if text and text not in seen:\n          \
          \      seen.add(text)\n                values.append(text)\n    return values\n\
          \n\ndef _normalize_plan(plan, planner):\n    planner_primary = _ensure_non_empty_string(planner.get('primary_collection'),\
          \ 'planner.primary_collection')\n    planner_related = set(_ensure_string_list(planner.get('related_collections')\
          \ or [], 'planner.related_collections'))\n    execution_mode = str(plan.get('execution_mode')\
          \ or 'single_stage').strip() or 'single_stage'\n    primary_collection =\
          \ _ensure_non_empty_string(plan.get('primary_collection') or planner_primary,\
          \ 'execution_plan.primary_collection')\n    if primary_collection != planner_primary:\n\
          \        raise ValueError('execution_plan.primary_collection must match\
          \ planner.primary_collection')\n    collections = _ensure_string_list(plan.get('collections')\
          \ or [primary_collection], 'execution_plan.collections')\n    if primary_collection\
          \ not in collections:\n        collections = [primary_collection] + [c for\
          \ c in collections if c != primary_collection]\n\n    raw_stages = plan.get('stages')\
          \ or []\n    if not isinstance(raw_stages, list) or not raw_stages:\n  \
          \      raise ValueError('execution_plan.stages must be a non-empty array')\n\
          \n    normalized_stages = []\n    seen_stage_names = set()\n    allowed_intents\
          \ = {'detail_query', 'aggregate_summary', 'group_top_entity', 'group_top_record',\
          \ 'enrich_related'}\n    for idx, raw in enumerate(raw_stages):\n      \
          \  if not isinstance(raw, dict):\n            raise ValueError(f'stages[{idx}]\
          \ must be an object')\n        stage_name = _ensure_non_empty_string(raw.get('stage_name')\
          \ or f'stage{idx + 1}', f'stages[{idx}].stage_name')\n        if stage_name\
          \ in seen_stage_names:\n            raise ValueError(f'duplicate stage_name:\
          \ {stage_name}')\n        seen_stage_names.add(stage_name)\n        collection\
          \ = _ensure_non_empty_string(raw.get('collection'), f'stages[{idx}].collection')\n\
          \        if collection not in collections:\n            raise ValueError(f'stages[{idx}].collection\
          \ `{collection}` must appear in execution_plan.collections')\n        if\
          \ collection != primary_collection and collection not in planner_related:\n\
          \            raise ValueError(f'stages[{idx}].collection `{collection}`\
          \ must come from planner.related_collections')\n        intent_type = _ensure_non_empty_string(raw.get('intent_type'),\
          \ f'stages[{idx}].intent_type')\n        if intent_type not in allowed_intents:\n\
          \            raise ValueError(f'unsupported intent_type: {intent_type}')\n\
          \        default_limit = 0 if intent_type in {'group_top_entity', 'group_top_record'}\
          \ else 20\n        limit = int(raw.get('limit') if raw.get('limit') is not\
          \ None else default_limit)\n        if limit < 0:\n            raise ValueError(f'stages[{idx}].limit\
          \ must be >= 0')\n        stage = {\n            'stage_name': stage_name,\n\
          \            'collection': collection,\n            'depends_on': str(raw.get('depends_on')\
          \ or '').strip(),\n            'intent_type': intent_type,\n           \
          \ 'filters': raw.get('filters') or [],\n            'time_range': _normalize_time_range(raw.get('time_range'),\
          \ collection),\n            'group_fields': _ensure_string_list(raw.get('group_fields')\
          \ or [], f'stages[{idx}].group_fields'),\n            'entity_field': str(raw.get('entity_field')\
          \ or '').strip(),\n            'metric_function': str(raw.get('metric_function')\
          \ or '').strip(),\n            'metric_field': str(raw.get('metric_field')\
          \ or '').strip(),\n            'metric_alias': str(raw.get('metric_alias')\
          \ or '').strip(),\n            'rank_n': int(raw.get('rank_n') or 0),\n\
          \            'rank_order_field': str(raw.get('rank_order_field') or '').strip(),\n\
          \            'rank_direction': str(raw.get('rank_direction') or '').strip()\
          \ or 'desc',\n            'sort': raw.get('sort') or [],\n            'limit':\
          \ limit,\n            'projection_mode': str(raw.get('projection_mode')\
          \ or 'none').strip() or 'none',\n            'projection_fields': _ensure_string_list(raw.get('projection_fields')\
          \ or [], f'stages[{idx}].projection_fields'),\n            'join_source_field':\
          \ str(raw.get('join_source_field') or '').strip(),\n            'apply_global_limit':\
          \ bool(raw.get('apply_global_limit', False)),\n        }\n        if intent_type\
          \ == 'enrich_related':\n            stage['join_target_field'] = str(raw.get('join_target_field')\
          \ or '').strip()\n            stage['attach_as'] = str(raw.get('attach_as')\
          \ or 'related_info').strip() or 'related_info'\n        normalized_stages.append(stage)\n\
          \n    final_merge = plan.get('final_merge') or {}\n    if execution_mode\
          \ == 'multi_stage' and len(normalized_stages) < 2:\n        raise ValueError('multi_stage\
          \ execution requires at least 2 stages')\n    if execution_mode == 'single_stage'\
          \ and len(normalized_stages) > 1:\n        # allow but still run; keep mode\
          \ aligned with actual stages count\n        execution_mode = 'multi_stage'\n\
          \n    return {\n        'execution_mode': execution_mode,\n        'primary_collection':\
          \ primary_collection,\n        'collections': collections,\n        'reasoning':\
          \ str(plan.get('reasoning') or '').strip(),\n        'stages': normalized_stages,\n\
          \        'final_merge': {\n            'merge_mode': str(final_merge.get('merge_mode')\
          \ or 'left_join').strip() or 'left_join',\n            'left_stage': str(final_merge.get('left_stage')\
          \ or (normalized_stages[0]['stage_name'] if normalized_stages else '')).strip(),\n\
          \            'right_stage': str(final_merge.get('right_stage') or (normalized_stages[1]['stage_name']\
          \ if len(normalized_stages) > 1 else '')).strip(),\n            'left_field':\
          \ str(final_merge.get('left_field') or '').strip(),\n            'right_field':\
          \ str(final_merge.get('right_field') or '').strip(),\n            'attach_as':\
          \ str(final_merge.get('attach_as') or 'related_info').strip() or 'related_info',\n\
          \        },\n    }\n\n\ndef _build_stage_match(stage):\n    parts = []\n\
          \    time_expr = _apply_time_range(stage.get('time_range'))\n    if time_expr:\n\
          \        parts.append(time_expr)\n    for idx, f in enumerate(stage.get('filters')\
          \ or []):\n        if not isinstance(f, dict):\n            raise ValueError(f\"\
          {stage['stage_name']}.filters[{idx}] must be an object\")\n        field\
          \ = _ensure_non_empty_string(f.get('field'), f\"{stage['stage_name']}.filters[{idx}].field\"\
          )\n        operator = _ensure_non_empty_string(f.get('operator'), f\"{stage['stage_name']}.filters[{idx}].operator\"\
          )\n        value = f.get('value')\n        parts.append(_build_match_expr(field,\
          \ operator, value))\n    return _merge_match(parts)\n\n\ndef _append_projection(pipeline,\
          \ fields):\n    unique_fields = []\n    seen = set()\n    for field in fields\
          \ or []:\n        text = str(field or '').strip()\n        if text and text\
          \ not in seen:\n            seen.add(text)\n            unique_fields.append(text)\n\
          \    if not unique_fields:\n        return\n    proj = {'_id': 0}\n    for\
          \ field in unique_fields:\n        proj[field] = f'${field}'\n    pipeline.append({'$project':\
          \ proj})\n\n\ndef _compile_detail_query(stage, schema_context, stage_outputs):\n\
          \    pipeline = []\n    match_expr = _build_stage_match(stage)\n    if match_expr:\n\
          \        pipeline.append({'$match': match_expr})\n    _append_projection(pipeline,\
          \ stage.get('projection_fields'))\n    sort_stage = {}\n    for s in stage.get('sort')\
          \ or []:\n        field = _ensure_non_empty_string(s.get('field'), f\"{stage['stage_name']}.sort.field\"\
          )\n        direction = -1 if str(s.get('direction') or 'desc').strip() ==\
          \ 'desc' else 1\n        sort_stage[field] = direction\n    if sort_stage:\n\
          \        pipeline.append({'$sort': sort_stage})\n    if int(stage.get('limit')\
          \ or 0) > 0:\n        pipeline.append({'$limit': int(stage['limit'])})\n\
          \    validated_ast = {\n        'primary_collection': stage['collection'],\n\
          \        'collections': [stage['collection']],\n        'expands': [],\n\
          \        'filters': [{'collection': stage['collection'], **f} for f in stage.get('filters')\
          \ or []],\n        'time_range': dict(stage.get('time_range') or {}, collection=stage['collection']),\n\
          \        'aggregations': [],\n        'group_by': [],\n        'sort': (stage.get('sort')\
          \ or []) if stage.get('apply_global_limit') else [],\n        'limit': int(stage.get('limit')\
          \ or 0) if stage.get('apply_global_limit') else 0,\n        'projection':\
          \ [{'collection': stage['collection'], 'field': f, 'alias': f} for f in\
          \ stage.get('projection_fields') or []],\n        'reasoning': stage['intent_type'],\n\
          \    }\n    return validated_ast, pipeline\n\n\ndef _compile_aggregate_summary(stage,\
          \ schema_context, stage_outputs):\n    pipeline = []\n    match_expr = _build_stage_match(stage)\n\
          \    if match_expr:\n        pipeline.append({'$match': match_expr})\n \
          \   group_fields = stage.get('group_fields') or []\n    metric_alias = _ensure_non_empty_string(stage.get('metric_alias'),\
          \ f\"{stage['stage_name']}.metric_alias\")\n    metric_function = _ensure_non_empty_string(stage.get('metric_function'),\
          \ f\"{stage['stage_name']}.metric_function\")\n    metric_field = _ensure_non_empty_string(stage.get('metric_field'),\
          \ f\"{stage['stage_name']}.metric_field\")\n    if metric_function == 'count':\n\
          \        agg_expr = {'$sum': 1}\n    else:\n        op_map = {'sum': '$sum',\
          \ 'avg': '$avg', 'max': '$max', 'min': '$min'}\n        if metric_function\
          \ not in op_map:\n            raise ValueError(f'unsupported metric_function:\
          \ {metric_function}')\n        agg_expr = {op_map[metric_function]: f'${metric_field}'}\n\
          \    group_id = {field: f'${field}' for field in group_fields} if group_fields\
          \ else None\n    group_stage = {'_id': group_id, metric_alias: agg_expr}\n\
          \    pipeline.append({'$group': group_stage})\n    project_stage = {'_id':\
          \ 0}\n    for field in group_fields:\n        project_stage[field] = f'$_id.{field}'\n\
          \    project_stage[metric_alias] = f'${metric_alias}'\n    pipeline.append({'$project':\
          \ project_stage})\n    sort_stage = {}\n    for s in stage.get('sort') or\
          \ []:\n        field = _ensure_non_empty_string(s.get('field'), f\"{stage['stage_name']}.sort.field\"\
          )\n        direction = -1 if str(s.get('direction') or 'desc').strip() ==\
          \ 'desc' else 1\n        sort_stage[field] = direction\n    if sort_stage:\n\
          \        pipeline.append({'$sort': sort_stage})\n    if int(stage.get('limit')\
          \ or 0) > 0:\n        pipeline.append({'$limit': int(stage['limit'])})\n\
          \    projection_fields = stage.get('projection_fields') or (group_fields\
          \ + [metric_alias])\n    if projection_fields:\n        _append_projection(pipeline,\
          \ projection_fields)\n    validated_ast = {\n        'primary_collection':\
          \ stage['collection'],\n        'collections': [stage['collection']],\n\
          \        'expands': [],\n        'filters': [{'collection': stage['collection'],\
          \ **f} for f in stage.get('filters') or []],\n        'time_range': dict(stage.get('time_range')\
          \ or {}, collection=stage['collection']),\n        'aggregations': [{'alias':\
          \ metric_alias, 'collection': stage['collection'], 'field': metric_field,\
          \ 'function': metric_function}],\n        'group_by': [{'collection': stage['collection'],\
          \ 'field': f, 'alias': f} for f in group_fields],\n        'sort': (stage.get('sort')\
          \ or []) if stage.get('apply_global_limit') else [],\n        'limit': int(stage.get('limit')\
          \ or 0) if stage.get('apply_global_limit') else 0,\n        'projection':\
          \ [{'collection': stage['collection'], 'field': f, 'alias': f} for f in\
          \ projection_fields],\n        'reasoning': stage['intent_type'],\n    }\n\
          \    return validated_ast, pipeline\n\n\ndef _compile_group_top_entity(stage,\
          \ schema_context, stage_outputs):\n    pipeline = []\n    match_expr = _build_stage_match(stage)\n\
          \    if match_expr:\n        pipeline.append({'$match': match_expr})\n \
          \   group_fields = stage.get('group_fields') or []\n    entity_field = _ensure_non_empty_string(stage.get('entity_field'),\
          \ f\"{stage['stage_name']}.entity_field\")\n    metric_alias = _ensure_non_empty_string(stage.get('metric_alias'),\
          \ f\"{stage['stage_name']}.metric_alias\")\n    metric_function = _ensure_non_empty_string(stage.get('metric_function'),\
          \ f\"{stage['stage_name']}.metric_function\")\n    metric_field = _ensure_non_empty_string(stage.get('metric_field'),\
          \ f\"{stage['stage_name']}.metric_field\")\n    rank_n = int(stage.get('rank_n')\
          \ or 0)\n    if rank_n <= 0:\n        raise ValueError(f\"{stage['stage_name']}.rank_n\
          \ must be > 0 for group_top_entity\")\n    if metric_function == 'count':\n\
          \        agg_expr = {'$sum': 1}\n    else:\n        op_map = {'sum': '$sum',\
          \ 'avg': '$avg', 'max': '$max', 'min': '$min'}\n        if metric_function\
          \ not in op_map:\n            raise ValueError(f'unsupported metric_function:\
          \ {metric_function}')\n        agg_expr = {op_map[metric_function]: f'${metric_field}'}\n\
          \    first_group_id = {field: f'${field}' for field in group_fields}\n \
          \   first_group_id['__entity'] = f'${entity_field}'\n    pipeline.append({'$group':\
          \ {'_id': first_group_id, metric_alias: agg_expr}})\n    sort_before_rank\
          \ = {f'_id.{field}': 1 for field in group_fields}\n    sort_before_rank[metric_alias]\
          \ = -1 if str(stage.get('rank_direction') or 'desc').strip() == 'desc' else\
          \ 1\n    pipeline.append({'$sort': sort_before_rank})\n    push_payload\
          \ = {'entity': '$_id.__entity', metric_alias: f'${metric_alias}'}\n    pipeline.append({'$group':\
          \ {'_id': {field: f'$_id.{field}' for field in group_fields}, 'items': {'$push':\
          \ push_payload}}})\n    project_group = {'_id': 0, 'items': '$items'}\n\
          \    for field in group_fields:\n        project_group[field] = f'$_id.{field}'\n\
          \    pipeline.append({'$project': project_group})\n    pipeline.append({'$unwind':\
          \ {'path': '$items', 'includeArrayIndex': '__rank_index'}})\n    pipeline.append({'$match':\
          \ {'__rank_index': {'$lt': rank_n}}})\n    project_after_rank = {'_id':\
          \ 0, entity_field: '$items.entity', metric_alias: f'$items.{metric_alias}'}\n\
          \    for field in group_fields:\n        project_after_rank[field] = f'${field}'\n\
          \    pipeline.append({'$project': project_after_rank})\n    final_sort =\
          \ {}\n    for s in stage.get('sort') or []:\n        field = _ensure_non_empty_string(s.get('field'),\
          \ f\"{stage['stage_name']}.sort.field\")\n        direction = -1 if str(s.get('direction')\
          \ or 'desc').strip() == 'desc' else 1\n        final_sort[field] = direction\n\
          \    if final_sort and stage.get('apply_global_limit'):\n        pipeline.append({'$sort':\
          \ final_sort})\n    # group_top_entity: rank_n controls per-group topN.\
          \ Do not apply global sort/limit by default.\n    if stage.get('apply_global_limit')\
          \ and int(stage.get('limit') or 0) > 0:\n        pipeline.append({'$limit':\
          \ int(stage['limit'])})\n    projection_fields = stage.get('projection_fields')\
          \ or (list(group_fields) + [entity_field, metric_alias])\n    if projection_fields:\n\
          \        _append_projection(pipeline, projection_fields)\n    validated_ast\
          \ = {\n        'primary_collection': stage['collection'],\n        'collections':\
          \ [stage['collection']],\n        'expands': [],\n        'filters': [{'collection':\
          \ stage['collection'], **f} for f in stage.get('filters') or []],\n    \
          \    'time_range': dict(stage.get('time_range') or {}, collection=stage['collection']),\n\
          \        'aggregations': [{'alias': metric_alias, 'collection': stage['collection'],\
          \ 'field': metric_field, 'function': metric_function}],\n        'group_by':\
          \ [{'collection': stage['collection'], 'field': f, 'alias': f} for f in\
          \ list(group_fields) + [entity_field]],\n        'sort': stage.get('sort')\
          \ or [],\n        'limit': int(stage.get('limit') or 0),\n        'projection':\
          \ [{'collection': stage['collection'], 'field': f, 'alias': f} for f in\
          \ projection_fields],\n        'reasoning': stage['intent_type'],\n    }\n\
          \    return validated_ast, pipeline\n\n\ndef _compile_group_top_record(stage,\
          \ schema_context, stage_outputs):\n    pipeline = []\n    match_expr = _build_stage_match(stage)\n\
          \    if match_expr:\n        pipeline.append({'$match': match_expr})\n \
          \   group_fields = stage.get('group_fields') or []\n    rank_order_field\
          \ = _ensure_non_empty_string(stage.get('rank_order_field'), f\"{stage['stage_name']}.rank_order_field\"\
          )\n    rank_n = int(stage.get('rank_n') or 0)\n    if rank_n <= 0:\n   \
          \     raise ValueError(f\"{stage['stage_name']}.rank_n must be > 0 for group_top_record\"\
          )\n    projection_fields = stage.get('projection_fields') or list(dict.fromkeys(list(group_fields)\
          \ + [rank_order_field]))\n    sort_before_rank = {field: 1 for field in\
          \ group_fields}\n    sort_before_rank[rank_order_field] = -1 if str(stage.get('rank_direction')\
          \ or 'desc').strip() == 'desc' else 1\n    pipeline.append({'$sort': sort_before_rank})\n\
          \    item_payload = {field: f'${field}' for field in projection_fields}\n\
          \    pipeline.append({'$group': {'_id': {field: f'${field}' for field in\
          \ group_fields}, 'items': {'$push': item_payload}}})\n    project_group\
          \ = {'_id': 0, 'items': '$items'}\n    for field in group_fields:\n    \
          \    project_group[field] = f'$_id.{field}'\n    pipeline.append({'$project':\
          \ project_group})\n    pipeline.append({'$unwind': {'path': '$items', 'includeArrayIndex':\
          \ '__rank_index'}})\n    pipeline.append({'$match': {'__rank_index': {'$lt':\
          \ rank_n}}})\n    project_after_rank = {'_id': 0}\n    for field in projection_fields:\n\
          \        project_after_rank[field] = f'$items.{field}'\n    for field in\
          \ group_fields:\n        project_after_rank[field] = f'${field}' if field\
          \ not in projection_fields else project_after_rank[field]\n    pipeline.append({'$project':\
          \ project_after_rank})\n    final_sort = {}\n    for s in stage.get('sort')\
          \ or []:\n        field = _ensure_non_empty_string(s.get('field'), f\"{stage['stage_name']}.sort.field\"\
          )\n        direction = -1 if str(s.get('direction') or 'desc').strip() ==\
          \ 'desc' else 1\n        final_sort[field] = direction\n    if final_sort\
          \ and stage.get('apply_global_limit'):\n        pipeline.append({'$sort':\
          \ final_sort})\n    if stage.get('apply_global_limit') and int(stage.get('limit')\
          \ or 0) > 0:\n        pipeline.append({'$limit': int(stage['limit'])})\n\
          \    if projection_fields:\n        _append_projection(pipeline, projection_fields)\n\
          \    validated_ast = {\n        'primary_collection': stage['collection'],\n\
          \        'collections': [stage['collection']],\n        'expands': [],\n\
          \        'filters': [{'collection': stage['collection'], **f} for f in stage.get('filters')\
          \ or []],\n        'time_range': dict(stage.get('time_range') or {}, collection=stage['collection']),\n\
          \        'aggregations': [],\n        'group_by': [{'collection': stage['collection'],\
          \ 'field': f, 'alias': f} for f in group_fields],\n        'sort': stage.get('sort')\
          \ or [],\n        'limit': int(stage.get('limit') or 0),\n        'projection':\
          \ [{'collection': stage['collection'], 'field': f, 'alias': f} for f in\
          \ projection_fields],\n        'reasoning': stage['intent_type'],\n    }\n\
          \    return validated_ast, pipeline\n\n\ndef _compile_enrich_related(stage,\
          \ schema_context, stage_outputs):\n    depends_on = _ensure_non_empty_string(stage.get('depends_on'),\
          \ f\"{stage['stage_name']}.depends_on\")\n    prev = stage_outputs.get(depends_on)\
          \ or {}\n    prev_rows = prev.get('rows') or []\n    join_source_field =\
          \ _ensure_non_empty_string(stage.get('join_source_field'), f\"{stage['stage_name']}.join_source_field\"\
          )\n    join_target_field = _ensure_non_empty_string(stage.get('join_target_field'),\
          \ f\"{stage['stage_name']}.join_target_field\")\n    join_values = _unique_values(prev_rows,\
          \ join_source_field)\n    projection_mode = str(stage.get('projection_mode')\
          \ or 'none').strip() or 'none'\n    if projection_mode == 'all_returnable':\n\
          \        projection_fields = _extract_returnable_fields(schema_context,\
          \ stage['collection'])\n    else:\n        projection_fields = list(stage.get('projection_fields')\
          \ or [])\n    validated_ast = {\n        'primary_collection': stage['collection'],\n\
          \        'collections': [stage['collection']],\n        'expands': [],\n\
          \        'filters': [{'collection': stage['collection'], **f} for f in stage.get('filters')\
          \ or []],\n        'time_range': dict(stage.get('time_range') or {}, collection=stage['collection']),\n\
          \        'aggregations': [],\n        'group_by': [],\n        'sort': stage.get('sort')\
          \ or [],\n        'limit': int(stage.get('limit') or 0),\n        'projection':\
          \ [{'collection': stage['collection'], 'field': f, 'alias': f} for f in\
          \ projection_fields],\n        'reasoning': f\"enrich {stage['collection']}\
          \ by {join_target_field}\",\n    }\n    if not join_values:\n        return\
          \ validated_ast, [], True\n    pipeline = []\n    parts = [{join_target_field:\
          \ {'$in': join_values}}]\n    time_expr = _apply_time_range(stage.get('time_range'))\n\
          \    if time_expr:\n        parts.append(time_expr)\n    for f in stage.get('filters')\
          \ or []:\n        parts.append(_build_match_expr(_ensure_non_empty_string(f.get('field'),\
          \ 'field'), _ensure_non_empty_string(f.get('operator'), 'operator'), f.get('value')))\n\
          \    match_expr = _merge_match(parts)\n    if match_expr:\n        pipeline.append({'$match':\
          \ match_expr})\n    if projection_fields:\n        _append_projection(pipeline,\
          \ projection_fields)\n    sort_stage = {}\n    for s in stage.get('sort')\
          \ or []:\n        field = _ensure_non_empty_string(s.get('field'), f\"{stage['stage_name']}.sort.field\"\
          )\n        direction = -1 if str(s.get('direction') or 'desc').strip() ==\
          \ 'desc' else 1\n        sort_stage[field] = direction\n    if sort_stage:\n\
          \        pipeline.append({'$sort': sort_stage})\n    if int(stage.get('limit')\
          \ or 0) > 0:\n        pipeline.append({'$limit': int(stage['limit'])})\n\
          \    return validated_ast, pipeline, False\n\n\ndef _compile_stage(stage,\
          \ schema_context, stage_outputs):\n    intent = stage.get('intent_type')\n\
          \    if intent == 'detail_query':\n        validated_ast, pipeline = _compile_detail_query(stage,\
          \ schema_context, stage_outputs)\n        return validated_ast, pipeline,\
          \ False\n    if intent == 'aggregate_summary':\n        validated_ast, pipeline\
          \ = _compile_aggregate_summary(stage, schema_context, stage_outputs)\n \
          \       return validated_ast, pipeline, False\n    if intent == 'group_top_entity':\n\
          \        validated_ast, pipeline = _compile_group_top_entity(stage, schema_context,\
          \ stage_outputs)\n        return validated_ast, pipeline, False\n    if\
          \ intent == 'group_top_record':\n        validated_ast, pipeline = _compile_group_top_record(stage,\
          \ schema_context, stage_outputs)\n        return validated_ast, pipeline,\
          \ False\n    if intent == 'enrich_related':\n        return _compile_enrich_related(stage,\
          \ schema_context, stage_outputs)\n    raise ValueError(f'unsupported intent_type:\
          \ {intent}')\n\n\ndef _post_json(url, payload_obj, timeout_seconds=DEFAULT_TIMEOUT_SECONDS):\n\
          \    body = json.dumps(payload_obj, ensure_ascii=False).encode('utf-8')\n\
          \    req = urllib.request.Request(url=url, data=body, headers={'Content-Type':\
          \ 'application/json'}, method='POST')\n    ctx = ssl.create_default_context()\n\
          \    ctx.check_hostname = False\n    ctx.verify_mode = ssl.CERT_NONE\n \
          \   try:\n        with urllib.request.urlopen(req, timeout=timeout_seconds,\
          \ context=ctx) as resp:\n            status_code = int(resp.getcode() or\
          \ 0)\n            body_text = resp.read().decode('utf-8', errors='replace')\n\
          \            headers = dict(resp.info().items())\n            return status_code,\
          \ body_text, headers\n    except urllib.error.HTTPError as e:\n        body_text\
          \ = e.read().decode('utf-8', errors='replace') if hasattr(e, 'read') else\
          \ str(e)\n        headers = dict(e.headers.items()) if getattr(e, 'headers',\
          \ None) else {}\n        return int(getattr(e, 'code', 0) or 0), body_text,\
          \ headers\n\n\ndef _merge_rows(left_rows, right_rows, left_field, right_field,\
          \ attach_as):\n    right_index = {}\n    for row in right_rows or []:\n\
          \        if not isinstance(row, dict):\n            continue\n        key\
          \ = row.get(right_field)\n        if isinstance(key, list):\n          \
          \  for item in key:\n                if item is not None:\n            \
          \        right_index.setdefault(str(item), []).append(row)\n        elif\
          \ key is not None:\n            right_index.setdefault(str(key), []).append(row)\n\
          \    merged = []\n    for row in left_rows or []:\n        if not isinstance(row,\
          \ dict):\n            merged.append(row)\n            continue\n       \
          \ item = dict(row)\n        key = item.get(left_field)\n        matches\
          \ = []\n        if isinstance(key, list):\n            for val in key:\n\
          \                matches.extend(right_index.get(str(val), []))\n       \
          \ elif key is not None:\n            matches = right_index.get(str(key),\
          \ [])\n        if len(matches) == 1:\n            item[attach_as] = matches[0]\n\
          \        elif matches:\n            item[attach_as] = matches\n        merged.append(item)\n\
          \    return merged\n\n\ndef main(semantic_plan, planner, question: str,\
          \ schema_context: str, query_urls: str):\n    plan = _ensure_obj(semantic_plan,\
          \ 'semantic_plan')\n    planner = _ensure_obj(planner, 'planner')\n    urls\
          \ = _parse_query_urls(query_urls)\n    if not urls:\n        raise ValueError('SN_MONGODB_QUERY_URLS\
          \ is empty')\n\n    normalized_execution_plan = _normalize_plan(plan, planner)\n\
          \    stage_outputs = {}\n    stage_execution_trace = []\n\n    for stage\
          \ in normalized_execution_plan.get('stages') or []:\n        validated_ast,\
          \ pipeline, skip_query = _compile_stage(stage, schema_context, stage_outputs)\n\
          \        pipeline_json = json.dumps(pipeline, ensure_ascii=False, indent=2)\n\
          \        selected_url = ''\n        request_id = uuid.uuid4().hex\n    \
          \    request_body = {}\n        status_code = 0\n        response_body =\
          \ ''\n        response_headers = {}\n        rows = []\n        reason =\
          \ ''\n        if not skip_query:\n            selected_url = random.choice(urls)\n\
          \            request_body = {\n                'validated_ast': validated_ast\
          \ or {},\n                'pipeline_json': pipeline_json,\n            \
          \    'validation_message': 'ok',\n                'request_id': request_id,\n\
          \            }\n            status_code, response_body, response_headers\
          \ = _post_json(selected_url, request_body)\n            if status_code <\
          \ 200 or status_code >= 300:\n                raise ValueError(f\"stage\
          \ `{stage['stage_name']}` query failed: status={status_code}, body={response_body[:1200]}\"\
          )\n            response_json = _read_json_text(response_body)\n        \
          \    rows = _find_best_rows(response_json)\n        else:\n            response_body\
          \ = json.dumps({'msg': 'skip query', 'code': 200, 'data': {'rows': []}},\
          \ ensure_ascii=False)\n            rows = []\n            reason = 'no join\
          \ values from previous stage'\n\n        trace_item = {\n            'stage_name':\
          \ stage['stage_name'],\n            'collection': stage['collection'],\n\
          \            'intent_type': stage['intent_type'],\n            'validated_ast':\
          \ validated_ast,\n            'pipeline': pipeline,\n            'pipeline_json':\
          \ pipeline_json,\n            'selected_url': selected_url,\n          \
          \  'request_id': request_id,\n            'query_request_body': request_body,\n\
          \            'query_status_code': status_code,\n            'query_response_body':\
          \ response_body,\n            'query_response_headers': response_headers,\n\
          \            'rows': rows,\n            'skipped': bool(skip_query),\n \
          \           'skip_reason': reason,\n        }\n        stage_execution_trace.append(trace_item)\n\
          \        stage_outputs[stage['stage_name']] = trace_item\n\n    execution_mode\
          \ = normalized_execution_plan.get('execution_mode')\n    final_merge = normalized_execution_plan.get('final_merge')\
          \ or {}\n    if execution_mode == 'multi_stage' and final_merge.get('left_stage')\
          \ and final_merge.get('right_stage'):\n        left_rows = (stage_outputs.get(final_merge['left_stage'])\
          \ or {}).get('rows') or []\n        right_rows = (stage_outputs.get(final_merge['right_stage'])\
          \ or {}).get('rows') or []\n        merged_rows = _merge_rows(left_rows,\
          \ right_rows, final_merge.get('left_field'), final_merge.get('right_field'),\
          \ final_merge.get('attach_as') or 'related_info')\n    else:\n        first_stage_name\
          \ = normalized_execution_plan['stages'][0]['stage_name']\n        merged_rows\
          \ = (stage_outputs.get(first_stage_name) or {}).get('rows') or []\n\n  \
          \  final_payload = {\n        'question': str(question or '').strip(),\n\
          \        'normalized_execution_plan': normalized_execution_plan,\n     \
          \   'stage_execution_trace': stage_execution_trace,\n        'merged_rows':\
          \ merged_rows,\n    }\n    final_response_summary = {\n        'question':\
          \ str(question or '').strip(),\n        'execution_mode': str(normalized_execution_plan.get('execution_mode')\
          \ or ''),\n        'stage_count': len(normalized_execution_plan.get('stages')\
          \ or []),\n        'merged_row_count': len(merged_rows or []),\n       \
          \ 'stage_names': [str((s or {}).get('stage_name') or '') for s in (normalized_execution_plan.get('stages')\
          \ or [])],\n    }\n    return {\n        'normalized_execution_plan_json':\
          \ json.dumps(normalized_execution_plan, ensure_ascii=False),\n        'stage_execution_trace_json':\
          \ json.dumps(stage_execution_trace, ensure_ascii=False),\n        'final_response_body':\
          \ json.dumps(final_payload, ensure_ascii=False),\n        'final_response_summary':\
          \ final_response_summary,\n    }\n"
        code_language: python3
        desc: 校验语义计划并编译第一阶段 Pipeline
        outputs:
          final_response_body:
            children: null
            type: string
          final_response_summary:
            children: null
            type: object
          normalized_execution_plan_json:
            children: null
            type: string
          stage_execution_trace_json:
            children: null
            type: string
        selected: false
        title: 代码执行_遍历语义计划并统一编译执行
        type: code
        variables:
        - value_selector:
          - '1775000000013'
          - semantic_plan
          value_type: object
          variable: semantic_plan
        - value_selector:
          - '1773975766025'
          - structured_output
          value_type: object
          variable: planner
        - value_selector:
          - '1773909192919'
          - question
          value_type: string
          variable: question
        - value_selector:
          - '1775000000005'
          - schema_context
          value_type: string
          variable: schema_context
        - value_selector:
          - env
          - SN_MONGODB_QUERY_URLS
          value_type: string
          variable: query_urls
      height: 80
      id: '1775000000007'
      position:
        x: 4090
        y: 280
      positionAbsolute:
        x: 4090
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: token-body-1
            key: ''
            type: text
            value: '{{#1775000000005.token_request_body_json#}}'
          type: json
        desc: 使用静态token换取动态token
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: false
          retry_interval: 100
        selected: false
        ssl_verify: false
        timeout:
          max_connect_timeout: 600000
          max_read_timeout: 600000
          max_write_timeout: 600000
        title: HTTP请求_获取动态Token
        type: http-request
        url: '{{#1775000000005.token_url#}}'
        variables: []
      height: 123
      id: '1775000000010'
      position:
        x: 2210
        y: 120
      positionAbsolute:
        x: 2210
        y: 120
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\nUNSUPPORTED_JSON_SCHEMA_KEYS = {\n    'uniqueItems',\n\
          }\n\n\ndef _truncate_text(text, limit=2000):\n    text = '' if text is None\
          \ else str(text)\n    return text if len(text) <= limit else text[:limit]\
          \ + '...'\n\n\ndef _read_json_text(text):\n    if text is None:\n      \
          \  return None\n    if isinstance(text, (dict, list)):\n        return text\n\
          \    raw = str(text).strip()\n    if not raw:\n        return None\n   \
          \ return json.loads(raw)\n\n\ndef _first_non_empty_string(*values):\n  \
          \  for value in values:\n        if isinstance(value, str) and value.strip():\n\
          \            return value.strip()\n    return ''\n\n\ndef _sanitize_json_schema(value):\n\
          \    if isinstance(value, dict):\n        cleaned = {}\n        for key,\
          \ item in value.items():\n            if key in UNSUPPORTED_JSON_SCHEMA_KEYS:\n\
          \                continue\n            cleaned[key] = _sanitize_json_schema(item)\n\
          \        return cleaned\n    if isinstance(value, list):\n        return\
          \ [_sanitize_json_schema(item) for item in value]\n    return value\n\n\n\
          def main(status_code, body, semantic_plan_system_prompt: str, semantic_plan_user_prompt:\
          \ str, semantic_plan_json_schema: str,\n         chat_url: str, llm_config_json:\
          \ str, request_id: str):\n    try:\n        code = int(status_code or 0)\n\
          \        if code < 200 or code >= 300:\n            raise ValueError(f\"\
          动态token获取失败, status={code}, body={_truncate_text(body, 2000)}\")\n     \
          \   resp_json = _read_json_text(body)\n        if not resp_json or not isinstance(resp_json,\
          \ dict):\n            raise ValueError(f\"动态token响应不是合法JSON: {_truncate_text(body,\
          \ 1200)}\")\n        token = _first_non_empty_string(\n            resp_json.get('result'),\n\
          \            resp_json.get('token'),\n            resp_json.get('dynamicToken'),\n\
          \            (resp_json.get('data') or {}).get('result') if isinstance(resp_json.get('data'),\
          \ dict) else '',\n            (resp_json.get('data') or {}).get('token')\
          \ if isinstance(resp_json.get('data'), dict) else ''\n        )\n      \
          \  if not token:\n            raise ValueError(f\"动态token为空, body={_truncate_text(body,\
          \ 2000)}\")\n        llm_config = _read_json_text(llm_config_json)\n   \
          \     if not llm_config or not isinstance(llm_config, dict):\n         \
          \   raise ValueError('llm_config_json 不是合法JSON对象')\n        schema = _read_json_text(semantic_plan_json_schema)\n\
          \        if not schema or not isinstance(schema, dict):\n            raise\
          \ ValueError('semantic_plan_json_schema 不是合法JSON对象')\n        sanitized_schema\
          \ = _sanitize_json_schema(schema)\n        if not sanitized_schema or not\
